/* ---------- theme colors ---------- */

$theme-hue: 234;
$theme-saturation: 79%;
$theme-brightness: 77%;
$theme-color: hsl($theme-hue, $theme-saturation, $theme-brightness);

/* set concept color above (as HSL format) */

$base: hsl(0, 0%, 100%);
$main: $theme-color;
$sub: rgb(255, 102, 0);
$text: hsl($theme-hue, 18%, 46%);
$brighter: hsl(220, 18%, 93%);
$darker: hsl($theme-hue, 18%, 46%);
$inverted: hsl(($theme-hue - 180), $theme-saturation, $theme-brightness);
$activated: hsl(140, 81%, 66%);
$disabled: hsl($theme-hue, 10%, $theme-brightness);

/* ---------- gray tones ---------- */

$g-dark: hsl($theme-hue, 20%, 10%);
$g-deep: hsl($theme-hue, 5%, 32%);
$g-focus: hsl($theme-hue, 20%, 53%);
$g-heavy: hsl($theme-hue, 20%, 73%);
$g-bold: hsl($theme-hue, 42%, 91%);
$g-mid: hsl($theme-hue, 8%, 90%);
$g-light: hsl($theme-hue, 17%, 100%);

/* ---------- temporary colors ---------- */

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 15%);
$error: hsl(12, 88%, 36%);
$warning: hsl(51, 100%, 59%);
$accept: hsl(151, 91%, 54%);