@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 컬러 */
:root {
  font-size: max(13px, 1.3vmin);
}
:root ::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
:root ::-webkit-scrollbar-thumb {
  background: rgba(66, 86, 47, 0.7);
  border-radius: 0.5rem;
  height: 40%;
}
:root ::-webkit-scrollbar-track {
  background: transparent;
}

body {
  height: 100vh;
  color: rgb(51, 38, 38);
  font-size: 1rem;
}

a {
  color: rgb(51, 38, 38);
  text-decoration: none;
}

button {
  outline: 0;
  border: 0;
  background: rgba(66, 86, 47, 0.9);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(196, 196, 197, 0.6);
}

select {
  padding: 0.35rem;
  outline: none;
  border-radius: 0.25rem;
  border: 0.05rem solid hsla(235, 22%, 10%, 0.1);
  background-color: rgb(255, 255, 255);
}

textarea {
  padding: 0.35rem;
  outline: none;
  border: 0.05rem solid hsla(235, 22%, 10%, 0.1);
  color: #999;
  resize: none;
}

input {
  padding: 0.35rem;
  border: 0.05rem solid hsla(235, 22%, 10%, 0.1);
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  outline: none;
  resize: none;
  font: inherit;
  color: rgb(66, 86, 47);
}
input[type=radio] {
  width: inherit;
}

h6 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.8rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
}

dialog::backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
}

/* 모달 기본값 */
.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
}
.modal-window::backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-insert-frame {
  padding: 15px;
}

.modal-insert-title {
  margin-block-end: 15px;
  color: rgb(66, 86, 47);
  font-size: 24px;
  font-weight: 900;
}
.modal-insert-title > h3 {
  font: inherit;
}

.modal-control-compartment {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.modal-control-compartment > button {
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 600;
}

/* 모달 기본값 끝 */
[data-device-type=mobile] {
  /* Portrait 세로모드일 때 */
}
[data-device-type=mobile] dialog {
  width: 96%;
}

[data-device-type=desktop] {
  /* Landscape 가로모드일 때 */
}
[data-device-type=desktop] .list_table {
  overflow: auto;
}
[data-device-type=desktop] dialog {
  width: 50%;
}