.section-contents {
    -ms-overflow-style: auto; /* IE, Edge */
    scrollbar-width: auto; /* Firefox */

    &::-webkit-scrollbar {
        position: absolute;
        bottom: 0;
        display: block;
        width: 10px;
        height: 10px;
        background-color: rgba(58, 77, 131, .025);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(58, 77, 131, .15);
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 3px;
    }

    &.scrolling-table {
        overflow: scroll;
        // border-block: 1px solid #ebeef2;
        position: relative;
        padding-inline: 0;
        
    }

    .common-data-table {
        width: 100%;
        table-layout: auto;

        thead {
            position: sticky;
            top: -1px;
            background-color: #f7f8fb;
            filter: drop-shadow(0 0 6px rgba(58, 78, 132, 0.15));
        }

        th {
            padding-inline: 16px;
            height: 48px;
            border-block-end: 1px solid #ebeef2;
            border-right: 1px solid #ebeef2;
            font-weight: 800;
            word-break: keep-all;
            font-size: 14px;
            text-align: center;
            vertical-align: middle;
            color: #3a4e84;

            & + th {
                border-left: 1px solid #ebeef2;
            }
        }

        td {
            padding-inline: 16px;
            height: 48px;
            text-align: left;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: nowrap;
            word-break: break-all;
            overflow: hidden;
            width: -moz-fit-content;
            width: fit-content;
            font-size: 14px;
            // border-inline-end: 1px solid #ebeef2;
            border-inline-end: 1px solid rgba(58, 78, 132, .15);
            border-block-end: 1px solid rgba(58, 78, 132, .15);

            &.amount-cell {
                text-align: right;
            }

            &.al {
                text-align: left;
            }
        }

        th, td {
            &.center {
                text-align: center !important;
            }

            &.left {
                text-align: left !important;
            }

            &.right {
                text-align: right !important;
            }

            // border-inline-end: 0;
        }

        tr {

            &.subtotal-row {
                background-color: rgba(58, 78, 132, .05);

                &:hover {
                    background-color: rgba(58, 78, 132, .05);
                }

                td {
                    font-weight: 800;
                }
            }

            &.sum-total-row {
                background-color: rgba(58, 78, 132, .8);
                color: #fff;
                border-top: 1px solid rgba(58, 78, 132, 1);

                &:hover {
                    background-color: rgba(58, 78, 132, .8);
                }

                td {
                    font-weight: 800;
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background-color: rgba(58, 78, 132, .025);
                }
            }
        }
    }

    .common-data-table.amount-table {
        td {
            text-align: right;
        }
    }

    &.common-table-wrap {
        height: 50vh;
        border-inline: 1px solid #ebeef2;
        border-block: 1px solid rgba(58, 78, 132, 0.35);
    }
}

#invAssetTb {
    margin-bottom: 32px;
    
    &.section-contents {
        &.common-table-wrap {
            height: auto;
        }

        .common-data-table {
            th {
                height: 36px;
            }
        }
    }
    
}

//
.tb-cell-number {
    min-width: 50px;
    max-width: 50px;
    width: 1%;
}

.tb-cell-year {
    min-width: 70px;
    max-width: 100px;
    width: 10%;
}

.tb-cell-fulldate {
    min-width: fit-content;
    width: 15%;
}

.tb-cell-instname {
    min-width: fit-content;
    width: 15%;
}

.tb-cell-shortname {
    min-width: fit-content;
    width: 12%;
}

.tb-cell-title {
    width: 30%;

    &.tb-cell-include {
        min-width: 200px;
        width: 100%;
    }
}

.tb-cell-iconbutton {
    width: 80px;
}

.tb-cell-middle {
    width: 15%;
    min-width: 120px;
}

.tb-cell-mail {
    width: 22%;
    max-width: 200px;
}

//

.filter-section {
    background-color: rgba(58, 78, 132, .035);
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    .ar {
        margin-left: auto;
    }
    
    button {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        padding: 10px 18px;
        background-color: rgb(58, 78, 132);
        color: #fff;
        border-radius: .5rem;
        font-weight: 600;

        &:hover {
            opacity: .85;
        }

        svg {
            
        }
    }
}

.ft-item {
    display: flex;
    gap: 6px;
    align-items: center;

    p {

        &.ft-item-name {
            margin-right: 8px;
            font-weight: 800;
            font-size: 16px;
        }
        
    }

    

    input[type=radio] {
        width: 16px;
        height: 16px;
        padding: 0;
    }

    
}

#wrap input, select {
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid rgba(58, 78, 132, 0.35);
    border-radius: .5rem;
}

.form-input-checker::before {

    border: 0 !important;
}

.form-input-checker > input[type=radio].checker-element {
    margin: 0;
    paddig-block: 0;
    padding-inline: 0;

    border: 0 !important;
}



.form-input-checker:has(.checker-element:checked)::before {

}

button {
    border: 0;
    outline: 0;
}


@media screen and (max-width: 800px) {

}