/* 커스텀 엘리먼트 */

/*

종류 : 일반 버튼
구조 : 아래 참조

<button type="button" class="common-button" style="--button-face-color: {{ 버튼 배경 색 }}; --button-text-color: {{ 버튼 텍스트 색 }}; --button-icon-opaq:">
    <svg xmlns="http://www.w3.org/2000/svg" class="common-button-icon" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001Z"></path></svg>
    <span class="common-button-label">버튼 라벨</span>
</button>

*/

.common-button {
    display: flex;
    align-items: center;
    gap: 8px;
    // padding-inline: 24px;
    padding-inline: 18px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--button-face-color, #3a4e84);
    color: var(--button-text-color, #fff);
    font-size: 13px;
    // font-weight: 900;
    cursor: pointer;

    > .common-button-icon {
        fill: currentColor;
        opacity: var(--button-icon-opaq, .5);
    }

    &.tf {
        flex-direction: row-reverse;
    }
}

/*

종류 : 커스텀 셀렉트
대체 : <select>
구조 : 아래 참조

<div class="custom-select" data-custom-select-state="selected">
    <div class="custom-select-current">
        <span>{{ 선택된 아이템 라벨 }}</span>
    </div>

    <div class="custom-select-option-list">
        <ul>
            <li class="custom-select-option-item" data-custom-select-option-value="{{ 옵션 밸류 }}">
                <a href="#">{{ 옵션명 (라벨) }}</a>
            </li>
        </ul>
    </div>

    <hr class="custom-select-separator">

    <button class="custom-select-dropdown-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="display: block; width: 14px; height: 14px;"><path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"></path></svg>
    </button>
</div>

*/

.custom-select {
    display: flex;
    position: relative;
    border-radius: .25rem;
    background-color: rgb(var(--select-background-color, 255 255 255) / .5);
    outline: 1px solid rgb(58 78 132 / .1);

    &:hover {
        background-color: rgb(255 255 255 / .75);
    }

    &:is([data-custom-select-state="opened"]) {
        .custom-select-option-list {
            display: block;
            isolation: isolate;
            z-index: 50000;
        }
    }

    &-current {
        display: flex;
        align-items: center;
        padding-inline: 1rem;
        height: 1.5rem;
        cursor: pointer;
    }

    &-option-list {
        display: none;
        position: absolute;
        inset-inline: 0;
        inset-block-start: calc(100% + .25rem);
        width: max-content;
        max-width: 20rem;
        border-radius: .25rem;
        background-color: rgb(255 255 255 / .5);
        backdrop-filter: blur(.25rem);
        outline: 1px solid rgb(58 78 132 / .1);

        > ul {
            border-radius: inherit;
            overflow: hidden;
        }
    }

    &-option-item {
        > a {
            display: flex;
            align-items: center;
            padding-inline: 1rem;
            width: 100%;
            height: 1.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:hover {
            background-color: rgb(var(--select-option-hover-color, 58 78 132));
            color: rgb(var(--select-option-hover-text, 255 255 255));
        }
    }

    &-separator {
        width: 1px;
        height: 1.5rem;
        background-color: rgb(58 78 132 / .1);
    }

    &-dropdown-button {
        display: grid;
        place-items: center;
        width: 1.5rem;
        height: 1.5rem;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        background-color: transparent;
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) {
    .common-button {
        padding-inline: 14px;
    }
}