@charset "UTF-8";
#wrap {
  padding: 0 12px;
}
#wrap input, #wrap select {
  border-radius: 0.25rem !important;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  border-block-end: 1px solid rgba(58, 78, 132, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
}
nav .nav-logo {
  position: absolute;
  top: 50%;
  left: 2rem;
  width: 320px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  gap: 16px;
}
nav .nav-logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60px;
}
nav .nav-logo h1 {
  font-weight: 800;
}
nav ul {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: #333;
}
nav ul li:hover {
  font-weight: 700;
}
nav ul li.active:after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #0075FF;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav ul li:hover {
  background-color: rgba(58, 78, 132, 0.05);
}

#textWrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 110px 0 2rem;
}

.title-compart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 0;
  gap: 8px;
  border-top: 2px solid #3a4e84;
  border-bottom: 2px solid #3a4e84;
  margin: 36px 0 12px;
}
.title-compart h2 {
  color: #3a4e84;
  font-size: 20px;
}

.ft-wrap {
  margin-inline: 24px;
  padding: 12px 0 8px;
  background-color: rgba(58, 77, 131, 0.045);
  border-inline-start: 4px solid rgba(58, 77, 131, 0.15);
}
.ft-wrap.common-search-container {
  width: calc(100% - 48px);
}
.ft-wrap > button {
  margin-bottom: 0;
}
.ft-wrap .common-search-container .section-control-compartment.sm-size {
  margin-left: auto !important;
}
.ft-wrap .section-control-compartment {
  padding-inline: 12px;
}
.ft-wrap input, .ft-wrap select {
  color: rgba(58, 77, 131, 0.75);
}

.form-input-select {
  overflow: visible !important;
}

.h-auto {
  height: auto !important;
}

.pl-8 {
  padding-left: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.ml-auto {
  margin-left: auto;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.bdr-l-blur-2 {
  border-inline-start: 2px solid rgba(58, 77, 131, 0.15);
}

.inner-bdr-l {
  border-inline-start: 2px solid rgba(58, 77, 131, 0.15);
}

.inner-bdr-l {
  border-inline-start: 1px solid rgba(58, 77, 131, 0.15);
}

.mi-0 {
  margin-inline: 0 !important;
}

.mb-8 {
  margin-bottom: 8px;
}

.mn-w-130 {
  min-width: 130px;
}

.w-full {
  width: 100%;
}

.gap-8 {
  gap: 8px !important;
}

.gap-12 {
  gap: 12px !important;
}

#modalCogrup .modal-section-title {
  flex: 0 0 auto;
}

.tb-cell-title {
  max-width: 200px;
}

.div-l {
  display: block;
  width: 2px;
  height: 1rem;
  background-color: rgba(58, 77, 131, 0.15);
}

.section-control-compartment {
  box-sizing: border-box;
}

.form-input-date > .date-picker {
  height: auto !important;
  border: var(--bdr-interface-normal) !important;
}

.common-button {
  font-family: "SUIT-Regular", sans-serif;
  font-size: 13px !important;
}

.bg-gray {
  background-color: rgba(58, 77, 131, 0.1);
  padding: 0 8px;
  border-radius: 4px;
}

.btn-bg-blur {
  background-color: rgba(58, 77, 131, 0.75) !important;
}

.ft-al-between {
  height: 48px;
  justify-content: space-between;
}

.tch-tb tbody tr {
  cursor: pointer;
}

.view-img-md {
  position: fixed;
}
.view-img-md img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.view-img-md .view-img-md-close {
  position: sticky;
  bottom: 0.25rem;
  left: calc(100% - 0.5rem);
  background-color: rgb(58, 77, 131);
  border-radius: 5px;
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.view-ellipsis {
  position: relative;
  overflow: visible !important;
}
.view-ellipsis p {
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  width: auto;
}
.view-ellipsis.on label {
  display: block;
}
.view-ellipsis label {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(58, 77, 131);
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.section-contents {
  -ms-overflow-style: auto; /* IE, Edge */
  scrollbar-width: auto; /* Firefox */
}
.section-contents::-webkit-scrollbar {
  position: absolute;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(58, 77, 131, 0.025);
}
.section-contents::-webkit-scrollbar-thumb {
  background-color: rgba(58, 77, 131, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 3px;
}
.section-contents.scrolling-table {
  overflow: scroll;
  position: relative;
  padding-inline: 0;
}
.section-contents .common-data-table {
  width: 100%;
  table-layout: auto;
}
.section-contents .common-data-table thead {
  position: sticky;
  top: -1px;
  background-color: #f7f8fb;
  filter: drop-shadow(0 0 6px rgba(58, 78, 132, 0.15));
}
.section-contents .common-data-table th {
  padding-inline: 16px;
  height: 48px;
  border-block-end: 1px solid #ebeef2;
  border-right: 1px solid #ebeef2;
  font-weight: 800;
  word-break: keep-all;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: #3a4e84;
}
.section-contents .common-data-table th + th {
  border-left: 1px solid #ebeef2;
}
.section-contents .common-data-table td {
  padding-inline: 16px;
  height: 48px;
  text-align: left;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  border-inline-end: 1px solid rgba(58, 78, 132, 0.15);
  border-block-end: 1px solid rgba(58, 78, 132, 0.15);
}
.section-contents .common-data-table td.amount-cell {
  text-align: right;
}
.section-contents .common-data-table td.al {
  text-align: left;
}
.section-contents .common-data-table th.center, .section-contents .common-data-table td.center {
  text-align: center !important;
}
.section-contents .common-data-table th.left, .section-contents .common-data-table td.left {
  text-align: left !important;
}
.section-contents .common-data-table th.right, .section-contents .common-data-table td.right {
  text-align: right !important;
}
.section-contents .common-data-table tr.subtotal-row {
  background-color: rgba(58, 78, 132, 0.05);
}
.section-contents .common-data-table tr.subtotal-row:hover {
  background-color: rgba(58, 78, 132, 0.05);
}
.section-contents .common-data-table tr.subtotal-row td {
  font-weight: 800;
}
.section-contents .common-data-table tr.sum-total-row {
  background-color: rgba(58, 78, 132, 0.8);
  color: #fff;
  border-top: 1px solid rgb(58, 78, 132);
}
.section-contents .common-data-table tr.sum-total-row:hover {
  background-color: rgba(58, 78, 132, 0.8);
}
.section-contents .common-data-table tr.sum-total-row td {
  font-weight: 800;
}
.section-contents .common-data-table tbody tr:hover {
  background-color: rgba(58, 78, 132, 0.025);
}
.section-contents .common-data-table.amount-table td {
  text-align: right;
}
.section-contents.common-table-wrap {
  height: 50vh;
  border-inline: 1px solid #ebeef2;
  border-block: 1px solid rgba(58, 78, 132, 0.35);
}

#invAssetTb {
  margin-bottom: 32px;
}
#invAssetTb.section-contents.common-table-wrap {
  height: auto;
}
#invAssetTb.section-contents .common-data-table th {
  height: 36px;
}

.tb-cell-number {
  min-width: 50px;
  max-width: 50px;
  width: 1%;
}

.tb-cell-year {
  min-width: 70px;
  max-width: 100px;
  width: 10%;
}

.tb-cell-fulldate {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 15%;
}

.tb-cell-instname {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 15%;
}

.tb-cell-shortname {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 12%;
}

.tb-cell-title {
  width: 30%;
}
.tb-cell-title.tb-cell-include {
  min-width: 200px;
  width: 100%;
}

.tb-cell-iconbutton {
  width: 80px;
}

.tb-cell-middle {
  width: 15%;
  min-width: 120px;
}

.tb-cell-mail {
  width: 22%;
  max-width: 200px;
}

.filter-section {
  background-color: rgba(58, 78, 132, 0.035);
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.filter-section .ar {
  margin-left: auto;
}
.filter-section button {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  padding: 10px 18px;
  background-color: rgb(58, 78, 132);
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
}
.filter-section button:hover {
  opacity: 0.85;
}
.ft-item {
  display: flex;
  gap: 6px;
  align-items: center;
}
.ft-item p.ft-item-name {
  margin-right: 8px;
  font-weight: 800;
  font-size: 16px;
}
.ft-item input[type=radio] {
  width: 16px;
  height: 16px;
  padding: 0;
}

#wrap input, select {
  background-color: #fff;
  padding: 8px 12px;
  border: 1px solid rgba(58, 78, 132, 0.35);
  border-radius: 0.5rem;
}

.form-input-checker::before {
  border: 0 !important;
}

.form-input-checker > input[type=radio].checker-element {
  margin: 0;
  paddig-block: 0;
  padding-inline: 0;
  border: 0 !important;
}

button {
  border: 0;
  outline: 0;
}

.common-modal {
  position: fixed;
  inset: 0;
  color: #3a4e84;
  z-index: 999;
}
.common-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}
.common-modal .section-contents {
  padding-inline: 0;
  flex-shrink: 0;
}
.common-modal .section-contents.readable {
  padding-inline: 24px;
  margin: 24px 0;
}
.common-modal .section-contents.scrolling-table {
  height: 200px;
  overflow: scroll;
  border-block: 1px solid #ebeef2;
  position: relative;
  scrollbar-width: auto;
}
.common-modal .section-contents.scrolling-table thead {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fbfbfd;
}
.common-modal .section-contents.scrolling-table.plus-min-height {
  height: 400px;
}
.common-modal .form-input-date, .common-modal .form-input-select {
  min-width: 150px;
}
.common-modal button {
  outline: 0;
}

.common-div-md {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.common-modal .scrolling-table .common-data-table.add-member-table {
  border-top: 0;
  border-bottom: 0;
}

.common-modal-container {
  position: fixed;
  inset: 0;
  margin: auto;
  width: min(1024px, 100% - 24px);
  height: -moz-fit-content;
  height: fit-content;
  max-height: 80vh;
  border: 1px solid #ebeef2;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 16px 32px rgba(58, 78, 132, 0.1);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.common-modal-container::-webkit-scrollbar {
  position: absolute;
  bottom: 0;
  display: block;
  width: 8px;
  height: 8px;
}
.common-modal-container::-webkit-scrollbar-thumb {
  background-color: rgba(58, 77, 131, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 3px;
}

.modal-titlebar {
  display: flex;
  height: 56px;
  border-block-end: 1px solid #ebeef2;
}

.modal-icon {
  display: grid;
  place-items: center;
  width: 56px;
  background-color: #f7f8fb;
}
.modal-icon svg {
  outline: 0;
}

.modal-label {
  display: flex;
  align-items: center;
  padding-inline: 24px;
  font-weight: 900;
}

#modalViewDtl.have-a-button-area {
  padding-inline: 0;
  margin-block-end: 0;
}
#modalViewDtl.have-a-button-area .modal-search-compartment.m-flex {
  padding-inline: 24px;
}
#modalViewDtl.have-a-button-area .modal-contents {
  margin-block-end: 0;
  padding-inline: 0;
}
#modalViewDtl.have-a-button-area #btnSearch.m-r-button {
  margin-right: 24px;
}
#modalViewDtl.have-a-button-area #evalScore {
  margin: 0 24px;
}
#modalViewDtl.have-a-button-area .section-contents {
  padding-inline: 24px;
}
#modalViewDtl.have-a-button-area .section-contents.for-inner-upload {
  padding-inline: 0;
}
#modalViewDtl.have-a-button-area .modal-section-title {
  padding-inline: 24px;
}
#modalViewDtl.have-a-button-area .modal-control-compartment {
  margin-block-start: 36px;
  flex-shrink: 0;
}

.modal-contents {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  margin-block-start: 12px;
  margin-block-end: 36px;
  padding-inline: 24px;
  max-height: 480px;
  overflow-y: auto;
}
.modal-contents > * {
  flex: 0 auto;
}

.modal-section-title {
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  font-weight: 600;
}

.modal-control-compartment {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  height: 72px;
  padding-inline: 24px;
  background-color: #f7f8fb;
  border-block-start: 1px solid #ebeef2;
}

.modal-search-compartment {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 1rem;
}
.modal-search-compartment > div {
  flex: 1 auto;
}

.common-modal .common-button.modal-search {
  width: -moz-fit-content;
  width: fit-content;
  grid-column: 2;
  margin-left: auto;
}
.common-modal .md-block {
  display: block;
}
.common-modal .common-table .table-cell p.double-line-header {
  -webkit-line-clamp: 2;
  line-height: 1.35;
}
.common-modal.have-a-tab .modal-contents {
  display: none;
}
.common-modal.have-a-tab .modal-contents.recent-tab {
  display: flex;
}
.common-modal.have-a-tab .modal-contents.recent-tab > .modal-search-compartment:first-child > .labeled-input-binder:first-child {
  padding-inline: 0;
}

@media screen and (max-width: 800px) {
  .modal-contents {
    padding-inline: 12px;
  }
  .common-modal-container {
    width: min(640px, 100% - 12px);
  }
  .common-table.pic-table {
    grid-template-columns: 50px 1fr 0.75fr !important;
  }
  .modal-search-compartment {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .common-modal .common-table .table-cell p.double-line-header {
    display: flex;
    -webkit-line-clamp: 1;
  }
  .common-modal .form-input-date {
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  #modalViewDtl.have-a-button-area .modal-search-compartment.m-flex {
    padding-inline: 12px;
  }
  #modalViewDtl.have-a-button-area #btnSearch.m-r-button {
    margin-right: 12px;
  }
  #modalViewDtl.have-a-button-area #evalScore {
    margin: 0 12px;
  }
  #modalViewDtl.have-a-button-area .section-contents {
    padding-inline: 12px;
  }
  #modalViewDtl.have-a-button-area .modal-section-title {
    padding-inline: 12px;
  }
  .common-modal.self-input-member .section-control-compartment.for-add-mb {
    height: auto !important;
  }
}
.common-modal .common-modal-container {
  overflow-y: hidden;
}

.modal-inner-label-button {
  display: flex;
  gap: 8px;
  align-items: center;
}
.modal-inner-label-button p {
  opacity: 0.5;
}

/* _formElements.scss */
:root {
  --ff-gothic: "NS-Neo", sans-serif;
  --ff-sans: "SUIT", sans-serif;
  --ff-serif-kr: "";
  --ff-serif-en: "Suez One", serif;
  --bdr-form-outer: .9rem;
  --bdr-form-inner: .65rem;
  --bdr-form-element-lg: .75rem;
  --bdr-form-element: .15rem;
  --bdr-form-full: 25rem;
  --bdr-interface-normal: .5px solid hsl(var(--clr-secondary) / .15);
  --bdr-interface-fade: .5px solid hsl(var(--clr-secondary / .05));
  --shd-form-element: 0 .15rem .5rem -.1rem hsl(var(--clr-secondary) / .15);
  --shd-form-outer: 0 .75rem 1.5rem hsl(var(--clr-secondary) / .15);
  --shd-form-disabled: .05rem .05rem 0 hsl(var(--clr-min));
  --shd-back: 225 33% 98%;
  --color-tester: hsl(0, 0%, 12%);
  --clr-min: 0 100% 100%;
  --clr-max: 0 0% 0%;
  --clr-theme: 227 100% 57%;
  --clr-background: 210 40% 96%;
  --clr-primary: 225 94% 67%;
  --clr-secondary: 230 53% 37%;
  --clr-tertiary: 214 95% 93%;
  --clr-optional: 220 98% 51%;
  --clr-text-base: 0 0% 12%;
  --clr-text-tint: var(--clr-min);
  --clr-text-invert: ;
  --clr-text-disabled: 0 0% 80% ;
  --clr-alert: 4 92% 46%;
  --clr-warn: 40 93% 57%;
  --clr-info: 138 54% 78%;
  --clr-accept: 143 69% 60%;
  --clr-unabled: 0 0% 96%;
  --clr-if-100: 0 100% 100%;
  --clr-if-75: ;
  --clr-if-50: ;
  --clr-if-25: ;
  --clr-if-10: ;
  --clr-if-5: ;
  --clr-if-disabled: ;
  --clr-temp-ebony: #4a5043;
  --clr-temp-sunglow: #ffcb47;
  --clr-temp-federalblue: #07004d;
  --clr-temp-steelblue: #2d82b7;
  --clr-temp-aquamarine: #42e2b8;
  --clr-temp-dutchwhite: #f3dfbf;
  --clr-temp-lightcoral: #eb8a90;
  --clr-temp-engineeringorange: #ba2d0b;
  --clr-temp-honeydew: #d5f2e3;
  --clr-temp-cambridgeblue: #73ba9b;
  --clr-temp-britishracinggreen: #003e1f;
  --clr-temp-night: #01110a;
  --clr-temp-brightpinkcrayola: #ef798a;
  --clr-temp-melon: #f7a9a8;
  --clr-temp-finn: #613f75;
  --clr-temp-fairytale: #e5c3d1;
  --clr-temp-richblack: #011627;
  --clr-temp-babypowder: #fdfffc;
  --clr-temp-lightseagreen: #2ec4b6;
  --clr-temp-pantonered: #e71d36;
  --clr-temp-orangepeel: #ff9f1c;
  --clr-temp-bluecrayola: #0075f2;
  --clr-temp-oucrimson: #880d1e;
  --clr-temp-rustyred: #dd2d4a;
  --clr-temp-antiflashwhite: #efeff0;
  --clr-temp-navajowhite: #ffe0b5;
  --clr-temp-rawumber: #8a6552;
  --clr-temp-caputmortuum: #462521;
  --clr-temp-mediumslateblue: #6874e8;
  --clt-temp-aliceblue: #e8f0ff;
  --clr-input-focus: 0 102 255;
  --clr-input-accept: 51 152 51;
  --clr-input-warning: ;
  --clr-input-error: 255, 78, 65;
  --clr-input-disabled: 245, 245, 245;
  --bdr-input: .5px solid rgba(var(--clr-input-border), .1);
  --clr-input-border: 0, 0, 0;
  --clr-input-background: 255, 255, 255;
  --clr-input-text: 0, 0, 0;
  --input-text-disabled: 1px 1px 0 rgb(255, 255, 255);
}

.remix {
  fill: currentColor;
}

.labeled-input-binder {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  padding-inline: 24px;
}
.labeled-input-binder.align-input-container .section-control-compartment {
  padding-inline: 0;
  height: 40px;
  margin-bottom: 24px;
  padding-bottom: 6px;
}
.labeled-input-binder.required > label::after {
  color: #d32d22;
  content: "*";
  opacity: 1;
}

dialog .labeled-input-binder {
  padding-inline: 0;
}

.modal-search-compartment .labeled-input-binder {
  max-width: 260px;
}

.form-input-label {
  opacity: 0.75;
}

.form-input-text {
  /*
  <div class="form-input-text">
      <leading element>
      <input class="input-element">
      <trailing element>
  </div>
  */
  display: flex;
  border-radius: var(--bdr-form-element);
  background-color: hsl(var(--clr-min));
  color: hsl(var(--clr-text-base));
  font-size: 14px;
  overflow: hidden;
}
.form-input-text > .input-element {
  flex: 1 1 auto;
  padding-inline: 12px;
  min-width: 0;
  height: 32px;
  border-block: var(--bdr-interface-normal);
  background-color: transparent;
  outline: 0;
}
.form-input-text > .input-element::-moz-placeholder {
  color: #3a4e84;
  opacity: 0.5;
}
.form-input-text > .input-element::placeholder {
  color: #3a4e84;
  opacity: 0.5;
}
.form-input-text:not(:has(.form-input-leading)) > .input-element {
  border-inline-start: var(--bdr-interface-normal);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.form-input-text:not(:has(.form-input-trailing)) > .input-element {
  border-inline-end: var(--bdr-interface-normal);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.form-input-text:has(.form-input-leading.icons) > .input-element {
  padding-inline-start: 0;
}
.form-input-text:has(.form-input-trailing.icons) > .input-element {
  padding-inline-end: 0;
}
.form-input-text:has(.input-element:focus) {
  outline: 3px solid hsl(var(--clr-optional)/0.15);
}
.form-input-text:has(.input-element:focus) > * {
  border-color: hsl(var(--clr-optional)/0.5);
}
.form-input-text:has(.input-element:invalid) {
  outline: 3px solid hsl(var(--clr-alert)/0.1);
  color: hsl(var(--clr-alert));
}
.form-input-text:has(.input-element:invalid) > * {
  border-color: hsl(var(--clr-alert)/0.25);
}
.form-input-text:has(.input-element:is([pattern], [type=url], [type=email]):valid) {
  outline: 3px solid hsl(var(--clr-accept)/0.1);
  color: hsl(var(--clr-accept));
}
.form-input-text:has(.input-element:is([pattern], [type=url], [type=email]):valid) > * {
  border-color: hsl(var(--clr-accept)/0.25);
}
.form-input-text:has(.input-element:disabled) > * {
  background-color: hsl(var(--clr-unabled));
  color: hsl(var(--clr-text-disabled));
  text-shadow: var(--shd-form-disabled);
}

.form-input-leading,
.form-input-trailing {
  display: grid;
  place-items: center;
  flex: 0 auto;
  padding-inline: 12px;
  border-block: var(--bdr-interface-normal);
  outline: 0;
}
.form-input-leading.fixers,
.form-input-trailing.fixers {
  /*
  <div class="form-input-<position> fixers">
      <span> https:// </span>
  </div>
  */
  border-inline: var(--bdr-interface-normal);
  background-color: hsl(var(--clr-unabled));
  color: hsl(var(--clr-text-disabled));
  text-shadow: var(--shd-form-disabled);
}
.form-input-leading.icons,
.form-input-trailing.icons {
  /*
  <div class="form-input-<position> icons">
      <i class="ri-lock-line"></i>
  </div>
  */
}
.form-input-leading.icons:is(.form-input-leading),
.form-input-trailing.icons:is(.form-input-leading) {
  border-inline-start: var(--bdr-interface-normal);
}
.form-input-leading.icons:is(.form-input-trailing),
.form-input-trailing.icons:is(.form-input-trailing) {
  border-inline-end: var(--bdr-interface-normal);
}
.form-input-leading.shortcuts,
.form-input-trailing.shortcuts {
  /*
  <div class="form-input-trailing shortcuts">
      <kbd> ctrl </kbd>
      <span> + </span>
      <kbd> s </kbd>
  </div>
  */
  display: flex;
  align-items: center;
  gap: 4px;
  border-inline-end: var(--bdr-interface-normal);
}
.form-input-leading.shortcuts > kbd,
.form-input-trailing.shortcuts > kbd {
  padding: 4px 8px;
  border: var(--bdr-interface-normal);
  border-radius: 4px;
  background-color: hsl(0, 0%, 92%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  color: hsl(0, 0%, 47%);
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}
.form-input-leading.button,
.form-input-trailing.button {
  /*
  <button type="button" class="form-input-trailing button">
      <span> Submit </span>
  </button>
  */
  border: var(--bdr-interface-normal);
  background-color: hsl(var(--clr-optional)/0.5);
  color: hsl(var(--clr-min));
}
.form-input-leading.button:hover,
.form-input-trailing.button:hover {
  background-color: hsl(var(--clr-optional));
}
.form-input-leading.button:disabled,
.form-input-trailing.button:disabled {
  background-color: hsl(var(--clr-unabled));
  color: hsl(var(--clr-text-disabled));
  text-shadow: var(--shd-form-disabled);
}
.form-input-leading.select,
.form-input-trailing.select {
  /*
  <select class="form-input-<position> select">
      <option value=""> Option 1 </option>
  <select>
  */
  padding-inline-end: 36px;
  background-color: transparent;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M18 9 12 3 6 9H18ZM18 15 12 21 6 15H18Z"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 16px 16px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-input-leading.select:disabled,
.form-input-trailing.select:disabled {
  background-color: hsl(var(--clr-text-disabled));
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M19 10H20C20.5523 10 21 10.4477 21 11V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V11C3 10.4477 3.44772 10 4 10H5V9C5 5.13401 8.13401 2 12 2C15.866 2 19 5.13401 19 9V10ZM17 10V9C17 6.23858 14.7614 4 12 4C9.23858 4 7 6.23858 7 9V10H17ZM11 14V18H13V14H11Z"%3E%3C/path%3E%3C/svg%3E');
  color: rgb(204, 204, 204);
  text-shadow: var(--shd-form-disabled);
}
.form-input-leading.select:is(.form-input-leading),
.form-input-trailing.select:is(.form-input-leading) {
  border-inline-start: var(--bdr-interface-normal);
}
.form-input-leading.select:is(.form-input-leading):disabled,
.form-input-trailing.select:is(.form-input-leading):disabled {
  border-inline-end: var(--bdr-interface-normal);
}
.form-input-leading.select:is(.form-input-trailing),
.form-input-trailing.select:is(.form-input-trailing) {
  border-inline-end: var(--bdr-interface-normal);
}
.form-input-leading.select:is(.form-input-trailing):disabled,
.form-input-trailing.select:is(.form-input-trailing):disabled {
  border-inline-start: var(--bdr-interface-normal);
}

.form-input-leading {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.form-input-trailing {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.form-input-checker {
  /*
  <div class="form-input-checker">
      <input [type] [id] class="checker-element">
      <label for="[id]"> Checker Label </label>
  </div>
  */
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 1.6rem;
  position: relative;
}
.form-input-checker > .checker-element {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.form-input-checker > .checker-element + label {
  display: block;
  width: 100%;
  cursor: pointer;
}
.form-input-checker::before {
  flex: 0 0 1rem;
  display: block;
  width: 1rem;
  height: 1rem;
  border: var(--bdr-interface-normal);
  background-color: hsl(var(--clr-min));
  cursor: pointer;
  content: "";
}
.form-input-checker:has([type=checkbox])::before {
  border-radius: var(--bdr-form-element);
}
.form-input-checker:has([type=radio])::before {
  border-radius: var(--bdr-form-full);
}
.form-input-checker:hover::before {
  background-color: hsl(var(--clr-optional)/0.05);
}
.form-input-checker:has(.checker-element:active, .checker-element:focus) {
  outline: 0.1rem dashed hsl(var(--clr-optional)/0.15);
  outline-offset: 0.25rem;
}
.form-input-checker:has(.checker-element:active, .checker-element:focus)::before {
  border-color: hsl(var(--clr-optional)/0.5);
  outline: 3px solid hsl(var(--clr-optional)/0.15);
}
.form-input-checker:has(.checker-element:checked)::before {
  border-color: hsl(var(--clr-accept)/0.5);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath stroke="hsl(143 69% 60%)" stroke-width="3px" fill="hsl(143 69% 60%)" d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.8rem 0.8rem;
}
.form-input-checker:has(.checker-element:checked):has(.checker-element:hover)::before {
  background-color: hsl(var(--clr-accept)/0.15);
}
.form-input-checker:has(.checker-element:checked) label {
  font-weight: 700;
}
.form-input-checker:has(:disabled)::before {
  border-color: hsl(var(--clr-max)/0.15);
  background-color: hsl(var(--clr-max)/0.15);
  cursor: no-drop;
}
.form-input-checker:has(:disabled) label {
  text-shadow: 1px 1px hsl(var(--clr-min));
  opacity: 0.5;
  cursor: no-drop;
  pointer-events: none;
}

.form-input-checker > input[type=checkbox].checker-element {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.form-input-checker > input[type=radio].checker-element {
  width: 1rem;
  height: 1rem;
  opacity: 0.15;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.form-input-select {
  /*
  <div class="form-input-select">
      <select class="select-element">
          <option> Option 1 </option>
      </select>

      <div class="select-arrow-icon">
          <i class="ri-arrow-down-s-line"></i>
      </div>
  </div>
  */
  position: relative;
  border-radius: var(--bdr-form-element);
  background-color: hsl(var(--clr-min));
  color: hsl(var(--clr-text-base));
  font-size: 14px;
  overflow: hidden;
}
.form-input-select > * {
  cursor: pointer;
}
.form-input-select > .select-element {
  padding: 0 32px 0 12px;
  min-width: 0;
  width: 100%;
  height: 32px;
  border: var(--bdr-interface-normal);
  border-radius: inherit;
  background-color: transparent;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-input-select > .select-arrow-icon {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  margin-inline-start: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border-inline-start: var(--bdr-interface-normal);
  pointer-events: none;
}
.form-input-select:has(.select-element:hover) > .select-arrow-icon {
  background-color: hsl(var(--clr-optional)/0.05);
}
.form-input-select:has(.select-element:active, .select-element:focus) {
  outline: 3px solid hsl(var(--clr-optional)/0.15);
}
.form-input-select:has(.select-element:active, .select-element:focus) > * {
  border-color: hsl(var(--clr-optional)/0.5);
}
.form-input-select:has(.select-element:active, .select-element:focus) > .select-arrow-icon {
  background-color: hsl(var(--clr-optional)/0.5);
  color: hsl(var(--clr-min));
}
.form-input-select:has(.select-element:active, .select-element:focus) > .select-arrow-icon > i {
  rotate: 180deg;
}
.form-input-select:has(.select-element:disabled) {
  pointer-events: none;
}
.form-input-select:has(.select-element:disabled) > * {
  color: rgb(204, 204, 204);
  text-shadow: var(--shd-form-disabled);
}
.form-input-select:has(.select-element:disabled) > .select-element {
  background-color: hsl(var(--clr-unabled));
}

.form-filter-date {
  display: flex;
  gap: 6px;
  align-items: center;
}
.form-filter-date .form-input-date {
  flex-shrink: 0;
}

.form-input-date {
  /*
  <div class="form-input-date">
      <input type="date" class="date-picker">

      <div class="date-calendar-icon">
          <i class="ri-calendar-event-line"></i>
      </div>
  </div>
  */
  position: relative;
  border-radius: var(--bdr-form-element);
  background-color: hsl(var(--clr-min));
  color: hsl(var(--clr-text-base));
  font-size: 14px;
  overflow: hidden;
}
.form-input-date > * {
  cursor: pointer;
}
.form-input-date > .date-picker {
  padding-inline: 12px;
  min-width: 0;
  width: 100%;
  height: 32px;
  border: var(--bdr-interface-normal);
  border-radius: inherit;
  background-color: transparent;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-input-date > .date-calendar-icon {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  margin-inline-start: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border-inline-start: var(--bdr-interface-normal);
  pointer-events: none;
}
.form-input-date:has(.date-picker:hover) > .select-arrow-icon {
  background-color: hsl(var(--clr-optional)/0.05);
}
.form-input-date:has(.date-picker:active, .date-picker:focus) {
  outline: 3px solid hsl(var(--clr-optional)/0.15);
}
.form-input-date:has(.date-picker:active, .date-picker:focus) > * {
  border-color: hsl(var(--clr-optional)/0.5);
}
.form-input-date:has(.date-picker:active, .date-picker:focus) > .date-calendar-icon {
  background-color: hsl(var(--clr-optional)/0.5);
  color: hsl(var(--clr-min));
}
.form-input-date:has(.date-picker:disabled) {
  pointer-events: none;
}
.form-input-date:has(.date-picker:disabled) > * {
  color: rgb(204, 204, 204);
  text-shadow: var(--shd-form-disabled);
}
.form-input-date:has(.date-picker:disabled) > .date-picker {
  background-color: hsl(var(--clr-unabled));
}

.form-input-search {
  /*
  <div class="form-input-search">
      <input type="text" class="search-result" readonly>

      <div class="search-icon">
          <i class="ri-search-line"></i>
      </div>
  </div>
  */
  position: relative;
  border-radius: var(--bdr-form-element);
  background-color: hsl(var(--clr-min));
  color: hsl(var(--clr-text-base));
  font-size: 14px;
}
.form-input-search > * {
  cursor: pointer;
}
.form-input-search > .search-result {
  padding: 0 36px 0 12px;
  min-width: 0;
  width: 100%;
  height: 32px;
  border: var(--bdr-interface-normal) !important;
  border-radius: inherit;
  background-color: transparent;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-input-search > .search-icon {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  margin-inline-start: auto;
  height: 100%;
  aspect-ratio: 1/1;
  border-inline-start: var(--bdr-interface-normal);
  pointer-events: none;
}
.form-input-search:has(.search-result:hover) > .search-icon {
  background-color: hsl(var(--clr-optional)/0.05);
}
.form-input-search:has(.search-result:active, .search-result:focus) {
  outline: 3px solid hsl(var(--clr-optional)/0.15);
}
.form-input-search:has(.search-result:active, .search-result:focus) > * {
  border-color: hsl(var(--clr-optional)/0.5);
}
.form-input-search:has(.search-result:active, .search-result:focus) > .search-icon {
  background-color: hsl(var(--clr-optional)/0.5);
  color: hsl(var(--clr-min));
}
.form-input-search:has(.search-result:disabled) {
  pointer-events: none;
}
.form-input-search:has(.search-result:disabled) > * {
  color: rgb(204, 204, 204);
  text-shadow: var(--shd-form-disabled);
}
.form-input-search:has(.search-result:disabled) > .search-result {
  background-color: hsl(var(--clr-unabled));
}

.nl-block {
  display: block;
}

.readable .table-cell.row-content, .readable .table-cell.row-content-double {
  justify-content: flex-start;
}
.readable .table-cell.row-header.row-header-mid {
  text-align: center;
  line-height: 1.25;
}

.for-cost-unit:after {
  content: "(천)원";
  display: inline-block;
  margin-left: 0.5rem;
}

.low-column-table {
  display: flex;
}

#uploadInput {
  display: none;
}

@media screen and (max-width: 800px) {
  .common-search-container .form-input-select {
    width: auto !important;
  }
  .nl-block {
    display: inline-block;
  }
}
/* _formElements.scss */
/* 커스텀 엘리먼트 */
/*

종류 : 일반 버튼
구조 : 아래 참조

<button type="button" class="common-button" style="--button-face-color: {{ 버튼 배경 색 }}; --button-text-color: {{ 버튼 텍스트 색 }}; --button-icon-opaq:">
    <svg xmlns="http://www.w3.org/2000/svg" class="common-button-icon" viewBox="0 0 24 24" width="16" height="16"><path fill="currentColor" d="M19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001C20 20.5524 19.5523 21.0001 19 21.0001ZM6 19.0001H18V9.15757L12 3.70302L6 9.15757V19.0001Z"></path></svg>
    <span class="common-button-label">버튼 라벨</span>
</button>

*/
.common-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 18px;
  height: 32px;
  border-radius: 4px;
  background-color: var(--button-face-color, #3a4e84);
  color: var(--button-text-color, #fff);
  font-size: 13px;
  cursor: pointer;
}
.common-button > .common-button-icon {
  fill: currentColor;
  opacity: var(--button-icon-opaq, 0.5);
}
.common-button.tf {
  flex-direction: row-reverse;
}

/*

종류 : 커스텀 셀렉트
대체 : <select>
구조 : 아래 참조

<div class="custom-select" data-custom-select-state="selected">
    <div class="custom-select-current">
        <span>{{ 선택된 아이템 라벨 }}</span>
    </div>

    <div class="custom-select-option-list">
        <ul>
            <li class="custom-select-option-item" data-custom-select-option-value="{{ 옵션 밸류 }}">
                <a href="#">{{ 옵션명 (라벨) }}</a>
            </li>
        </ul>
    </div>

    <hr class="custom-select-separator">

    <button class="custom-select-dropdown-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="display: block; width: 14px; height: 14px;"><path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"></path></svg>
    </button>
</div>

*/
.custom-select {
  display: flex;
  position: relative;
  border-radius: 0.25rem;
  background-color: rgb(var(--select-background-color, 255 255 255)/0.5);
  outline: 1px solid rgba(58, 78, 132, 0.1);
}
.custom-select:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.custom-select:is([data-custom-select-state=opened]) .custom-select-option-list {
  display: block;
  isolation: isolate;
  z-index: 50000;
}
.custom-select-current {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  height: 1.5rem;
  cursor: pointer;
}
.custom-select-option-list {
  display: none;
  position: absolute;
  inset-inline: 0;
  inset-block-start: calc(100% + 0.25rem);
  width: -moz-max-content;
  width: max-content;
  max-width: 20rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  outline: 1px solid rgba(58, 78, 132, 0.1);
}
.custom-select-option-list > ul {
  border-radius: inherit;
  overflow: hidden;
}
.custom-select-option-item > a {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  width: 100%;
  height: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-select-option-item:hover {
  background-color: rgb(var(--select-option-hover-color, 58 78 132));
  color: rgb(var(--select-option-hover-text, 255 255 255));
}
.custom-select-separator {
  width: 1px;
  height: 1.5rem;
  background-color: rgba(58, 78, 132, 0.1);
}
.custom-select-dropdown-button {
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .common-button {
    padding-inline: 14px;
  }
}
/* 메인 레이아웃 */
#wrap {
  display: flex;
  position: relative;
  border-top: 0.5px solid rgba(var(--clr-input-border), 0.1);
}

#mainSidebar {
  display: flex;
  flex-shrink: 0;
}

#navPrimary {
  height: 100%;
  background-color: #f7f8fb;
  flex-shrink: 0;
}

#contentWrapper {
  flex: 1 auto;
}

.primary-nav-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 96px;
  height: 96px;
  border-block-end: 1px solid #ebeef2;
  font-size: 12px;
}
.primary-nav-item.active {
  background-color: #fff;
  font-weight: 900;
}
.primary-nav-item.active::before {
  display: block;
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  width: 4px;
  background-color: #0075ff;
  content: "";
}
.primary-nav-item:not(.active) > * {
  opacity: 0.5;
}

#navSecondary {
  width: 204px;
  border-inline: 1px solid #ebeef2;
}

#currentNavLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
  height: 56px;
  font-weight: 900;
}

#navItemList {
  font-weight: 600;
}

.secondary-nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 24px;
  height: 36px;
  cursor: pointer;
}
.secondary-nav-item.active {
  color: #0057ff;
}
.secondary-nav-item:not(.active) > * {
  opacity: 0.5;
}

.main-section {
  width: min(900px, 100%);
}
.main-section.pms-section {
  width: min(1104px, 100%);
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 24px;
  height: 56px;
  font-size: 15px;
  font-weight: 900;
}

.section-contents {
  padding-inline: 24px;
}

.self-input-member .section-control-compartment.for-add-mb {
  margin-inline: 0;
}

.section-control-compartment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-inline: 24px;
  height: 72px;
  padding-bottom: 12px;
  align-items: flex-end;
}
.section-control-compartment.for-add-mb {
  border-bottom: 1px solid #ddd;
  margin-inline: 24px;
  padding-inline: 0;
}
.section-control-compartment.for-add-mb button {
  padding-inline: 12px;
  font-weight: 500;
}
.section-control-compartment.have-many-btn {
  height: auto;
  min-height: 72px;
}
.section-control-compartment.have-many-btn input, .section-control-compartment.have-many-btn select {
  min-width: 150px;
}
.section-control-compartment + .section-control-compartment {
  margin-top: 24px;
}
.section-control-compartment + .section-control-compartment.last-compartment {
  margin-top: 0;
}
.section-control-compartment .labeled-input-binder {
  padding-inline: 0;
}
.section-control-compartment.al {
  justify-content: flex-start;
}
.section-control-compartment.ar {
  justify-content: flex-end;
}
.section-control-compartment.split {
  justify-content: space-between;
}

.common-search-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
}
.common-search-container form {
  width: 100%;
}
.common-search-container > * {
  padding-bottom: 0 !important;
  flex-shrink: 0;
}
.common-search-container .section-control-compartment.inner-search-area {
  justify-content: flex-start;
}

.search-min-block {
  width: 10rem;
}

.area-end-border {
  border-bottom: 0.5px solid rgba(var(--clr-input-border), 0.1);
  margin-left: 24px;
  width: calc(100% - 48px);
}

.table-cell.main-title-bold p {
  font-weight: bold;
  color: #3a4e84;
  opacity: 1;
}

.readable .common-table-row .intgr-content {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  padding-inline: 0;
}
.readable .common-table-row .intgr-content .table-cell.row-content {
  justify-content: center;
  border-right: 1px solid #ebeef2;
}
.readable .common-table-row .intgr-content .table-cell {
  border-block-start: 0;
}

.table-cell.inner-header {
  border-block-end: 1px solid #ebeef2;
  background-color: #f7f8fb;
  font-weight: 600;
}

#tablePIC {
  grid-template-columns: minmax(100px, 1.25fr) minmax(70px, 1fr) minmax(100px, 1fr) minmax(150px, 2fr);
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
#tablePIC::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px;
}
#tablePIC::-webkit-scrollbar-thumb {
  background-color: rgba(58, 77, 131, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 3px;
}

:where(#tablePIC) .common-table-row {
  cursor: pointer;
}
:where(#tablePIC) .common-table-row:hover .table-cell {
  background-color: #f7f8fb;
}

:where(#tablePIC) .table-cell > p {
  text-overflow: ellipsis;
  overflow: hidden;
}

#modalPaging {
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  #wrap {
    padding-top: 3rem;
  }
  .primary-nav-item.active::before {
    inset-block: auto;
    bottom: 0;
    height: 4px;
    width: 100%;
  }
  .search-min-block {
    width: auto;
  }
  .common-search-container .section-control-compartment.inner-search-area {
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .common-search-container .section-control-compartment .radio-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto !important;
    margin-top: 0.5rem;
  }
  .readable .common-table-row .intgr-content {
    grid-template-columns: repeat(3, 1fr) !important;
    padding-bottom: 48px;
  }
  .readable .common-table-row .intgr-content .inner-header-weight {
    display: none;
  }
  .readable .common-table-row .intgr-content .table-cell.row-content.table-cell-weight {
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
  }
  .readable .common-table-row .intgr-content .table-cell.row-content.table-cell-weight .form-input-text {
    width: 50% !important;
  }
  .readable .common-table-row .intgr-content .table-cell.row-content.table-cell-weight:before {
    content: "비중";
    display: inline-block;
    margin-right: 6px;
  }
  .readable .common-table-row .intgr-content .table-cell.row-content {
    border-right: 0;
    border-bottom: 1px solid rgb(235, 238, 242);
    padding-inline: 6px;
  }
  .readable .table-cell.row-header.row-header-mid {
    flex-direction: row !important;
    line-height: 2.5;
    gap: 6px;
    height: 48px;
  }
  .readable .table-cell.row-header.row-header-mid p {
    font-weight: 900;
    opacity: 0.75;
  }
}
.table-cell.upload-btn-area input[type=file] {
  display: none;
}

.table-cell-button {
  cursor: pointer;
}
.table-cell-button * {
  cursor: pointer;
}

:where(.common-table-header) .table-cell p {
  word-break: keep-all !important;
}

.add-mb-table-container {
  padding-inline: 24px;
}

@media screen and (max-width: 800px) {
  .add-mb-table-container {
    padding-inline: 0;
  }
  .section-title {
    padding-inline: 0;
  }
  .section-control-compartment.for-add-mb {
    margin-inline: 0;
  }
  #subContainer #content {
    padding: 25px 10px 20px;
  }
  #tablePIC .common-table-row .table-cell {
    padding-inline: 6px;
  }
  #tablePIC .modal-search-compartment {
    gap: 8px 12px;
  }
  #modalPersonInCharge button#btnSearch {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    grid-column: 2/-1;
  }
  .common-table.usr-pre-rec-table {
    grid-template-columns: minmax(70px, 0.2fr) 1fr minmax(70px, 0.2fr) minmax(95px, 0.2fr);
    display: grid !important;
  }
  .usr-pre-rec-table .common-table-row .table-cell:nth-child(1), .usr-pre-rec-table .common-table-row .table-cell:nth-child(3) {
    display: none;
  }
  .m-width-full {
    width: 100%;
  }
  .common-modal .table-cell.row-header {
    height: 48px;
  }
}
@media screen and (max-width: 1023px) {
  .section-control-compartment .random-control-buttons {
    width: 100%;
    margin: 12px 0 24px;
    flex-wrap: wrap;
  }
  .section-control-compartment .random-control-buttons > *.labeled-input-binder:nth-child(2) {
    width: 200px;
  }
  .section-control-compartment {
    min-height: 72px;
    height: auto;
  }
  .section-title {
    width: 100%;
  }
}
.hv-clr:hover {
  color: #000;
}

.disable-item {
  pointer-events: none;
  opacity: 0.35;
}

.random-control-buttons {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  flex-wrap: wrap;
  border-inline-start: 5px solid rgba(58, 77, 131, 0.15);
  padding-left: 8px;
}
.random-control-buttons > * {
  flex-shrink: 0;
  width: 100px;
}
.random-control-buttons > *.labeled-input-binder:nth-child(2) {
  width: 250px;
}

#subContainer {
  min-height: 100vh;
}
#subContainer #content {
  max-width: 100%;
  padding: 40px 20px 0 20px;
}
#subContainer #content .tabMenuA {
  display: none;
}
#subContainer .subSkin {
  padding-top: 0;
  height: 0;
}
#subContainer #lnb {
  margin-top: 35px;
}

#wrap .main-section {
  width: 100%;
  padding-bottom: 48px;
}

#wrap #addAdjMemb.main-section {
  padding-bottom: 0;
}

#wrap .dataTables_wrapper .ui-toolbar {
  padding: 0;
}
#wrap .dataTables_wrapper .ui-widget-header {
  background: transparent;
}
#wrap .dataTables_wrapper table.dataTable thead th {
  font-weight: 600;
}

.common-modal .form-input-text {
  justify-content: center;
}

* {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  position: absolute;
  top: 48px;
  bottom: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.025);
  z-index: 1;
}
*::-webkit-scrollbar-track {
  display: none;
}
*::-webkit-scrollbar-corner {
  background-color: rgba(58, 77, 131, 0.025);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(58, 77, 131, 0.15);
  position: absolute;
  top: 48px;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

@font-face {
  font-family: "NG_R";
  src: url("../font/NanumBarunGothic.ttf") format("ttf");
}
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
}
:root {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  font-family: "NG_R", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgba(58, 77, 131, 0.01);
  font-family: "SUIT-Regular", sans-serif;
  color: #000;
  font-size: 14px;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  overflow-y: overlay;
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.form-input-label {
  color: #3a4e84;
}/*# sourceMappingURL=style.css.map */