<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daejist.login.mapper.MesuringMapper">
	<select id="getList" resultType="com.daejist.login.dao.Mesuring">
		<![CDATA[
		SELECT A.J_BNUM AS CAR_NO
		     , CAST(CASE WHEN A.KERATYPE = '입고' THEN A.SECONDWEIGHT ELSE A.FIRSTWEIGHT END AS NUMERIC) AS WEIGHT
		     , CASE WHEN A.KERATYPE = '입고' THEN A.MAIPCHER ELSE A.J_COMPANY END AS DEALER
		     , A.KERATYPE AS DEAL_GB
		     , CAST(A.JUNPYOID AS NUMERIC) AS JUNPYOID
		  FROM MESURING A
		 WHERE A.KERATYPE <> '직송'
		   AND (A.J_SERIAL = 0 OR A.J_SERIAL IS NULL)
		 ORDER BY SUN
         ]]>
	</select>

	<update id="updateGumsuInfo">
		UPDATE MESURING
		   SET J_SERIAL = #{j_Serial}
		     , GUBUN1 = #{gubun1}
		     , ICHAGAM = #{chagam}
		     , J_STATE = #{j_state}
		     , GUMSUBIGO = #{gumsubigo}
		     , GUMSU_SERIAL = #{insano}
		 WHERE JUNPYOID = #{junpyoId}
	</update>

	<update id="updateGumsuInfoOut">
		UPDATE MESURING
		   SET J_SERIAL = #{j_Serial}
		     , GUBUN1 = #{gubun1}
		     , OCHAGAM = #{chagam}
		     , J_STATE = #{j_state}
		     , GUMSUBIGO = #{gumsubigo}
		     , GUMSU_SERIAL = #{insano}
		WHERE JUNPYOID = #{junpyoId}
	</update>
	
	<select id="getChagamReason" resultType="map">
		SELECT REASON
		  FROM CHAGAMREASON
	</select>
</mapper>