/* ---------- theme colors ---------- */
/* set concept color above (as HSL format) */
/* ---------- gray tones ---------- */
/* ---------- temporary colors ---------- */
/* ---------- mixin ---------- */
/* ---------- %placeholder ----------*/
/* ---------- whatever else ---------- */
/* ---------- @keyframes ---------- */
@-webkit-keyframes popout {
	30% {
		transform: scale(0);
	}
	60% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.75);
	}
	90% {
		transform: scale(0.95);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes popout {
	30% {
		transform: scale(0);
	}
	60% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.75);
	}
	90% {
		transform: scale(0.95);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes kickin-down {
	0% {
		transform: translateY(200%);
	}
	5% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes kickin-down {
	0% {
		transform: translateY(200%);
	}
	5% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0;
	}
}
@-webkit-keyframes clicked {
	from {
		transform: rotateZ(-90deg) scale(0.8);
	}
	to {
		transform: rotateZ(-90deg) scale(1);
	}
}
@keyframes clicked {
	from {
		transform: rotateZ(-90deg) scale(0.8);
	}
	to {
		transform: rotateZ(-90deg) scale(1);
	}
}
@-webkit-keyframes agree-round {
	from {
		stroke-dashoffset: 130;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes agree-round {
	from {
		stroke-dashoffset: 130;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes agree-check {
	from {
		stroke-dashoffset: 52;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes agree-check {
	from {
		stroke-dashoffset: 52;
	}
	to {
		stroke-dashoffset: 0;
	}
}
/* main */
/* ---------- main ---------- */
/* ---------- main ---------- */
/* ---------- media queries ---------- */