/* print out */

@use 'sass:list';
@use 'sass:math';

@use '../modules/colors' as clr;
@use '../modules/mixins' as mix;
@use '../modules/elements' as elm;

/* ---------- main ---------- */

#printOut {
    margin-inline: auto;
    padding: .15rem;
    border: .05rem solid #333;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: .05rem;
    background-color: #333;
    page-break-inside: avoid;

    th,
    td {
        padding: .25rem .5rem;
        background-color: white;
        line-height: 1.2;
    }

    &#headTable {
        margin-block-end: .5rem;
    }

    &#mainTable {
        counter-set: count-car;

        tbody {
            > tr {
                counter-increment: count-car;
            }
        }
    }
}

td[colspan="100%"] {
    padding: .1rem;
}

.head_title {
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
    letter-spacing: 2rem;
}

.print_page {
    padding: .5rem 1rem;
    border: .05rem solid clr.$g-heavy;
    border-radius: elm.$radius-in;
    background-color: clr.$g-mid;
    color: clr.$text;
}

[data-hidden-aligner] {
    > th {
        padding: 0;
        width: 50%;
    }
}

.size {
    &__none {
        width: 5%;
        writing-mode: vertical-lr;
    }

    &__title {
        width: 10%;
    }

    &__remain {
        width: 12.5%;
    }
}

[data-row-year],
[data-row-month],
[data-row-day],
[data-row-grade],
[data-row-carno] {
    text-align: center;
}

[data-row-totwgt],
[data-row-rdcwgt],
[data-row-single],
[data-row-suprice],
[data-row-tax],
[data-row-totsales],
[data-sum-totwgt],
[data-sum-rdcwgt],
[data-sum-suprice],
[data-sum-tax],
[data-sum-totsales] {
    text-align: end;
}

[data-sum-car] {
    text-align: end;

    &::after {
        content: attr(data-sum-car);
    }
}

.closeBtnBox {
    text-align: end;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

/* ---------- main ---------- */
/* ---------- media queries ---------- */

@media print {
    :root {
        font-size: 5mm;
    }

    body {
        width: 210mm;
        height: 297mm;
    }

    #printOut {
        margin-inline: 0;
        width: 100%;
    }

    table {
        border-spacing: 0.3mm;

        th,
        td {
            // padding: 1rem;
            // font-size: 1.2rem;
        }
    }

    #btnClose {
        display: none;
    }

    @page {
        size: A4;
    }
}

@media (pointer: coarse) and (hover: none) {

}

@media screen and (max-width: 960px) {

} // 960px

@media screen and (max-width: 640px) {

} // 640px

@media screen and (max-width: 540px) {

} // 540px