/* table */

@use 'sass:list';
@use 'sass:math';

@use '../modules/colors' as clr;
@use '../modules/mixins' as mix;
@use '../modules/elements' as elm;

/* ---------- main ---------- */

#tableHeader {
    position: relative;
    margin-inline: auto;
    width: 80%;

    > .header_image {
        width: 100%;
    }

    > .logo {
        position: absolute;
        top: .5rem;
        left: 10%;

        > img {
            display: inline-block;
            margin-inline-end: .25rem;
            width: 2.5rem;
            vertical-align: middle;
        }

        > h1 {
            display: inline;
            color: hsl(210, 80%, 20%);
            font-size: 1.2rem;
            vertical-align: middle;
        }
    }

    > .header_text {
        position: absolute;
        bottom: 50%;
        left: 55%;
        font-weight: bold;
        line-height: 1.2;

        &::before {
            display: block;
            opacity: .75;
            content: '미래를 선도하는 글로벌 기업';
        }

        > p {
            display: inline;
            color: hsl(210, 78%, 37%);
            font-size: 1.2em;
        }
    }
}

#accChangePW {
    margin-block-end: 1rem;
    margin-inline: auto;
    width: 80%;
    text-align: end;

    > * {
        border-radius: .1rem;
        vertical-align: middle;
    }
}

#listTable {
    margin-inline: auto;
    width: 80%;
}

#tableFilter {
    padding: .25rem;
    background-color: clr.$g-deep;
    color: clr.$g-light;
    font-size: 1rem; /* 2022-12-09 변경 0.6 => 1*/
    text-align: end;

    > * {
        border-radius: .1rem;
        vertical-align: middle;
    }

    > span {
        margin-inline-end: .25rem;
    }

    > button {
        padding-block: .45rem;
    }
}

#carryOver {
    display: flex;
    padding: .5rem;
    border-block-end: .05rem solid clr.$g-heavy;
    background-color: clr.$g-mid;
    font-weight: bold;

    > * {
        margin-block: auto;
    }
}

#printOut {
    margin-inline-end: auto;
    padding: .15rem .3rem;
    border: .05rem solid rgba(clr.$g-dark, .1);
    border-radius: .1rem;
    background-color: clr.$sub;
    color: clr.$g-light;
    font-size: 1rem;
    font-weight: normal;
}

#txtCarryOver {
    text-align: end;
}

table {
    width: 100%;
    margin-inline: auto;
    border-collapse: separate;
    border-spacing: .05rem;
    background-color: clr.$g-mid;
    counter-set: row-count;
}

:where(tbody) tr {
    counter-increment: row-count;

    > [data-no] {
        &::before {
            content: counter(row-count);
        }
    }
}

th {
    padding: .5rem .25rem;
}

td {
    padding: .5rem .25rem;
    background-color: clr.$g-light;
    font-size: 1rem; /* 2022-12-09 변경 0.6 => 1*/
    text-align: center;
}

:where(tfoot) td {
    font-weight: bold;
}

[data-weight],
[data-single],
[data-wgtsum],
[data-logis],
[data-price],
[data-tax],
[data-receive],
[data-remain] {
    text-align: end;
}

[data-grade],
[data-receive] {
    color: blue;
}

[data-price],
[data-tax],
[data-remain] {
    color: clr.$sub;
}

/* ---------- main ---------- */
/* ---------- media queries ---------- */

@media (pointer: coarse) and (hover: none) {

}

@media screen and (max-width: 960px) {

} // 960px

@media screen and (max-width: 640px) {

} // 640px

@media screen and (max-width: 540px) {

} // 540px