@charset "UTF-8";
/* table */
/* ---------- theme colors ---------- */
/* set concept color above (as HSL format) */
/* ---------- gray tones ---------- */
/* ---------- temporary colors ---------- */
/* table */
/* ---------- mixin ---------- */
/* ---------- %placeholder ----------*/
/* ---------- whatever else ---------- */
/* ---------- @keyframes ---------- */
@keyframes popout {
  30% {
    transform: scale(0);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(0.75);
  }
  90% {
    transform: scale(0.95);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes kickin-down {
  0% {
    transform: translateY(200%);
  }
  5% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes clicked {
  from {
    transform: rotateZ(-90deg) scale(0.8);
  }
  to {
    transform: rotateZ(-90deg) scale(1);
  }
}
@keyframes agree-round {
  from {
    stroke-dashoffset: 130;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes agree-check {
  from {
    stroke-dashoffset: 52;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* ---------- main ---------- */
#tableHeader {
  position: relative;
  margin-inline: auto;
  width: 80%;
}
#tableHeader > .header_image {
  width: 100%;
}
#tableHeader > .logo {
  position: absolute;
  top: 0.5rem;
  left: 10%;
}
#tableHeader > .logo > img {
  display: inline-block;
  margin-inline-end: 0.25rem;
  width: 2.5rem;
  vertical-align: middle;
}
#tableHeader > .logo > h1 {
  display: inline;
  color: hsl(210, 80%, 20%);
  font-size: 1.2rem;
  vertical-align: middle;
}
#tableHeader > .header_text {
  position: absolute;
  bottom: 50%;
  left: 55%;
  font-weight: bold;
  line-height: 1.2;
}
#tableHeader > .header_text::before {
  display: block;
  opacity: 0.75;
  content: "미래를 선도하는 글로벌 기업";
}
#tableHeader > .header_text > p {
  display: inline;
  color: hsl(210, 78%, 37%);
  font-size: 1.2em;
}

#accChangePW {
  margin-block-end: 1rem;
  margin-inline: auto;
  width: 80%;
  text-align: end;
}
#accChangePW > * {
  border-radius: 0.1rem;
  vertical-align: middle;
}

#listTable {
  margin-inline: auto;
  width: 80%;
}

#tableFilter {
  padding: 0.25rem;
  background-color: hsl(234, 5%, 32%);
  color: hsl(234, 17%, 100%);
  font-size: 1rem; /* 2022-12-09 변경 0.6 => 1*/
  text-align: end;
}
#tableFilter > * {
  border-radius: 0.1rem;
  vertical-align: middle;
}
#tableFilter > span {
  margin-inline-end: 0.25rem;
}
#tableFilter > button {
  padding-block: 0.45rem;
}

#carryOver {
  display: flex;
  padding: 0.5rem;
  border-block-end: 0.05rem solid hsl(234, 20%, 73%);
  background-color: hsl(234, 8%, 90%);
  font-weight: bold;
}
#carryOver > * {
  margin-block: auto;
}

#printOut {
  margin-inline-end: auto;
  padding: 0.15rem 0.3rem;
  border: 0.05rem solid rgba(20, 21, 31, 0.1);
  border-radius: 0.1rem;
  background-color: rgb(255, 102, 0);
  color: hsl(234, 17%, 100%);
  font-size: 1rem;
  font-weight: normal;
}

#txtCarryOver {
  text-align: end;
}

table {
  width: 100%;
  margin-inline: auto;
  border-collapse: separate;
  border-spacing: 0.05rem;
  background-color: hsl(234, 8%, 90%);
  counter-set: row-count;
}

:where(tbody) tr {
  counter-increment: row-count;
}
:where(tbody) tr > [data-no]::before {
  content: counter(row-count);
}

th {
  padding: 0.5rem 0.25rem;
}

td {
  padding: 0.5rem 0.25rem;
  background-color: hsl(234, 17%, 100%);
  font-size: 1rem; /* 2022-12-09 변경 0.6 => 1*/
  text-align: center;
}

:where(tfoot) td {
  font-weight: bold;
}

[data-weight],
[data-single],
[data-wgtsum],
[data-logis],
[data-price],
[data-tax],
[data-receive],
[data-remain] {
  text-align: end;
}

[data-grade],
[data-receive] {
  color: blue;
}

[data-price],
[data-tax],
[data-remain] {
  color: rgb(255, 102, 0);
}

/* ---------- main ---------- */
/* ---------- media queries ---------- */