@charset "UTF-8";
/* 컬러 */
/* 거래처 조회 (buyer.scss) */
.list_title {
  background-color: rgba(114, 107, 107, 0.1);
  padding: 0.3rem 0.5rem;
}
.list_title form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}
.list_title form .closure {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list_title form .closure p {
  width: 30px;
}
.list_title form button {
  max-width: max(300px, 30.2vmax);
}
.list_title div + div {
  border-left: 0.5px solid rgb(196, 196, 197);
  padding-left: 0.7rem;
}

table {
  width: 100%;
}
table th,
table td {
  border: 0.5px solid rgb(196, 196, 197);
  padding: 0.5rem 0.5rem;
  min-width: 100px;
  max-width: 100px;
  vertical-align: middle;
}
table th:nth-child(8),
table th:nth-child(7),
table td:nth-child(8),
table td:nth-child(7),
table th:nth-child(13),
table td:nth-child(13) {
  min-width: 70px;
  max-width: 70px;
}
table th {
  height: 40px;
  background-color: rgb(255, 249, 233);
  word-break: keep-all;
  text-align: center;
  position: sticky;
  top: -3px;
  z-index: 1;
}
table td {
  cursor: default;
}
table td:nth-child(2), table td:nth-child(3), table td:nth-child(8), table td:nth-child(9), table td:nth-child(7), table td:nth-child(13) {
  text-align: center;
}
table td p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 거래처 모달 - 거래처 기록 */
#accountHistory {
  border: 0.5px solid rgb(196, 196, 197);
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

.history-table-container {
  display: contents;
}

.history-table-row {
  display: grid;
  grid-template-columns: 5fr minmax(100px, 1fr);
  padding: 0.3rem 0.5rem;
}
.history-table-row:nth-child(even) {
  background-color: rgba(66, 86, 47, 0.05);
}
.history-table-row.header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 249, 233);
  border-block-end: 0.5px solid rgb(196, 196, 197);
  font-weight: 900;
}
.history-table-row > p {
  padding-inline: 0.5rem;
}
.history-table-row-date {
  border-inline-start: 0.5px solid rgba(196, 196, 197, 0.5);
  text-align: center;
}

/* 거래처 모달 - 거래처 이미지 */
#accountImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.account-image-details {
  position: relative;
  width: min(100%, 480px);
  aspect-ratio: 1/1;
  border: 0.5px solid rgb(196, 196, 197);
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("/daejiM/resources/common/img/not-found.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}

.account-image-magnifier {
  display: grid;
  place-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 48px;
  height: 48px;
  box-shadow: 0;
  color: rgb(255, 255, 255);
  z-index: 2;
}
.account-image-magnifier > svg {
  width: 20px;
  height: 20px;
}

.account-image-detailed-view {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.account-image-detailed-view.unable {
  display: none;
}
.account-image-detailed-view:not(.unable) {
  cursor: pointer;
}

.account-image-description {
  position: absolute;
  inset: 0;
  margin-block-start: auto;
  padding: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}

/* 거래처 모달 끝 */
@media screen and (max-width: 768px) {
  .list_title form button {
    max-width: 100%;
  }
  .list_title form {
    gap: 0.5rem;
    align-items: inherit;
  }
  .list_title button {
    padding: 0.5rem;
  }
  .account-image-magnifier {
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
  }
  .account-image-magnifier > svg {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 426px) {
  .hide {
    display: none;
  }
  .closure label {
    word-break: keep-all;
    text-align: center;
  }
}
[data-device-type=mobile] {
  /* Portrait 세로모드일 때 적용할 CSS */
}
[data-device-type=mobile] .list_table {
  display: grid;
  height: 80vh;
  margin: 0.1rem auto 0;
  overflow: auto;
}

[data-device-type=desktop] {
  /* Landscape 가로모드일 때 적용할 CSS */
}
[data-device-type=desktop] #wrap {
  width: 1900px;
}
[data-device-type=desktop] .list_table {
  display: grid;
  height: 150vh;
  max-width: 1900px;
  margin: 0.1rem auto 0;
  overflow: auto;
}

#sub_nav {
  width: 100px;
  background-color: #f1f1f1;
}
#sub_nav li {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.3rem 0 0 0.2rem;
  flex-basis: calc(100% - 15px);
  cursor: pointer;
}
#sub_nav li:not(:hover) {
  text-overflow: ellipsis;
}

.sub_nav {
  max-width: 500px;
  min-width: 500px;
  width: 500px;
}
.sub_nav p {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.3rem 0 0 0.2rem;
  cursor: pointer;
}
.sub_nav p:not(:hover) {
  text-overflow: ellipsis;
}

/* 거래처 조회 끝 */