/* 컬러 */

$color__dark: rgb(51, 38, 38);
$color__grey: rgb(114, 107, 107);
$color__mid: rgb(196, 196, 197);
$color__light: hsl(240, 46%, 44%);
$color__subtle: rgb(249, 249, 249);
$color__white: rgb(255, 255, 255);

$color__dark_pm: rgb(37, 51, 29);
$color__pm: rgb(66, 86, 47);
$color__sub: rgb(58, 126, 142);
$color__vo: rgb(103, 92, 181);
$color__yy: rgb(255, 249, 233);
$color__bp: rgb(255, 240, 246);

body {
    background-image: linear-gradient(to bottom right, rgba($color__yy, .4) 1%, transparent);
    width: 100vw;
    height: 100vh;
}

button {
    box-shadow: 0 .5rem 1rem rgba($color__dark, .3);
}

#mainWrap {
    height: inherit;
}

#wrap {
    overflow: hidden;
}

.contentView_in {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    width: 140%;
}

#logoBackground {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 110vw;
    transform: translateX(-50%) rotate(-55deg);
    opacity: .3;
    z-index: -1;
}

#contentView {
    display: grid;
    place-items: center;
    height: inherit;
}

.DJ_title {
    text-align: center;
    vertical-align: top;
    width: 65%;

    > h5 {
        color: $color__pm;

        i {
            width: 1.2rem;
            vertical-align:middle;
            padding-bottom: .2rem;
            display: inline-block;
        }
    }

    > h1 {
        color: $color__dark_pm;
        font-size: 8rem;
    }
}

button {
    padding: .4rem 1.7rem;
    font-size: 1.2rem;

    svg {
        width: 1.2rem;
        vertical-align: middle;
        margin-right: .4rem;
    }
}

@media screen and (max-width: 540px) {
    #logoBackground {
        width: 200vw;
    }
}