/*컬러*/
$color__dark: rgb(51, 38, 38);
$color__grey: rgb(114, 107, 107);
$color__mid: rgb(196, 196, 197);
$color__light: hsl(240, 46%, 44%);
$color__subtle: rgb(249, 249, 249);
$color__white: rgb(255, 255, 255);

$color__dark_pm: rgb(37, 51, 29);
$color__pm: rgb(66, 86, 47);
$color__sub: rgb(58, 126, 142);
$color__vo: rgb(240, 238, 247);
$color__yy: rgb(255, 249, 233);
$color__bp: rgb(255, 240, 246);


#lodingView {
    display: none !important;
}

[data-device-type="mobile"] {

    /* Landscape 세로모드일 때 적용할 CSS */
    @media screen and (max-width: 540px) {
        .list_table {
            width: auto;
            overflow: auto;
        }
    }
}

[data-device-type="desktop"] {

    /* Landscape 가로모드일 때 적용할 CSS */
    #wrap {
        width: 1900px;
    }

    #contentView {
        width: 1900px;
    }

    .list_table {
        height: 180vh;
    }

}

#contentView {
    padding: .8rem;
    width: 100%;
    margin: 0 auto;
}

.list_table {
    height: calc(100vh - 12.5rem);
    max-width: 1900px;
    margin: 0 auto;
    overflow: auto;
}

.save {
    padding: .3rem .5rem;
    vertical-align: bottom;
}



/* 서치박스 (검색)*/
.list_title {

    background-color: rgba($color__grey, .1);
    padding: .3rem .5rem;

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .8rem;
        margin: .5rem 0;

        .closure {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .closure_in {
            border-left: 1px solid rgba($color__grey, .6);
            padding-left: 1rem;
        }

        button {
            max-width: max(300px, 20vmax);
            padding: .5rem
        }

        input[type=text] {
            width: max(128px, 16vmax);
        }

        select {
            width: max(73px, 7vmax);
        }

        .date_title {
            padding-bottom: .3rem;
        }
    }

    div+div {
        border-left: .5px solid $color__mid;
        padding-left: .7rem;
    }
}


/* 서치박스 (검색)*/

#jb-table {
    width: 100%;

    th{
        height: 40px;
        background-color: $color__yy;
        word-break: keep-all;
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        border: .5px solid $color__mid;
        vertical-align: middle;
        top: -3px;
        z-index: 1;
    }

    td {
        border: .5px solid $color__mid;
        padding: .5rem;
        word-break: keep-all;
        vertical-align: middle;
        min-width: 70px;

    }
.rowColumn{
    &:nth-child(1),
    &:nth-child(3){
        text-align: center;
    }
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(11),
    &:nth-child(13){
        text-align: right;
    }

}

    .yellow {
        background-color: rgba(255, 255, 0, .3)
    }

    .green {
        background-color: rgba(154, 205, 50, .3);
    }


}

.aDanInpt,
.tAmtInpt{
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: end;
    color: $color__dark;

    &:focus-within{
        background-color: $color__white;
    }
}

@media screen and (max-width: 1000px) {

    .list_title {
        form {
            flex-direction: column;
            gap: .5rem;
            align-items: inherit;

        }

        div+div {
            border-top: .5px solid $color__mid;
            padding: 0.6rem;
            border-left: 0;
            padding-left: 0;
        }

        .arrowBtn{
            max-width: 50%;
        }
    }

    .submitBtn{
        display: flex;
        gap: .5rem;
        margin-left: .5rem;
        >button{
            width: 50%;
        }
    }

}

@media screen and (max-width: 768px) {
    .list_title form .closure {
        gap: .25rem;
    }

    .list_title form .closure p {
        font-size: 12px;
        width: 60px;
    }
}