@charset "UTF-8";
/*컬러*/
#lodingView {
	display: none !important;
}

[data-device-type=mobile] {
	/* Landscape 세로모드일 때 적용할 CSS */
}
@media screen and (max-width: 540px) {
	[data-device-type=mobile] .list_table {
		width: auto;
		overflow: auto;
	}
}

[data-device-type=desktop] {
	/* Landscape 가로모드일 때 적용할 CSS */
}
[data-device-type=desktop] #wrap {
	width: 1900px;
}
[data-device-type=desktop] #contentView {
	width: 1900px;
}
[data-device-type=desktop] .list_table {
	height: 180vh;
}

#contentView {
	padding: 0.8rem;
	width: 100%;
	margin: 0 auto;
}

.list_table {
	height: calc(100vh - 12.5rem);
	max-width: 1900px;
	margin: 0 auto;
	overflow: auto;
}

.save {
	padding: 0.3rem 0.5rem;
	vertical-align: bottom;
}

/* 서치박스 (검색)*/
.list_title {
	background-color: rgba(114, 107, 107, 0.1);
	padding: 0.3rem 0.5rem;
}
.list_title form {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.8rem;
	margin: 0.5rem 0;
}
.list_title form .closure {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.list_title form .closure_in {
	border-left: 1px solid rgba(114, 107, 107, 0.6);
	padding-left: 1rem;
}
.list_title form button {
	max-width: max(300px, 20vmax);
	padding: 0.5rem;
}
.list_title form input[type=text] {
	width: max(128px, 16vmax);
}
.list_title form select {
	width: max(73px, 7vmax);
}
.list_title form .date_title {
	padding-bottom: 0.3rem;
}
.list_title div + div {
	border-left: 0.5px solid rgb(196, 196, 197);
	padding-left: 0.7rem;
}

/* 서치박스 (검색)*/
#jb-table {
	width: 100%;
}
#jb-table th {
	height: 40px;
	background-color: rgb(255, 249, 233);
	word-break: keep-all;
	text-align: center;
	position: sticky;
	border: 0.5px solid rgb(196, 196, 197);
	vertical-align: middle;
	top: -3px;
	z-index: 1;
}
#jb-table td {
	border: 0.5px solid rgb(196, 196, 197);
	padding: 0.5rem;
	word-break: keep-all;
	vertical-align: middle;
	min-width: 70px;
}
#jb-table .rowColumn:nth-child(1), #jb-table .rowColumn:nth-child(3) {
	text-align: center;
}
#jb-table .rowColumn:nth-child(5), #jb-table .rowColumn:nth-child(6), #jb-table .rowColumn:nth-child(7), #jb-table .rowColumn:nth-child(8), #jb-table .rowColumn:nth-child(9), #jb-table .rowColumn:nth-child(11), #jb-table .rowColumn:nth-child(13) {
	text-align: right;
}
#jb-table .yellow {
	background-color: rgba(255, 255, 0, 0.3);
}
#jb-table .green {
	background-color: rgba(154, 205, 50, 0.3);
}

.aDanInpt,
.tAmtInpt {
	background-color: transparent;
	border: 0;
	width: 100%;
	text-align: end;
	color: rgb(51, 38, 38);
}
.aDanInpt:focus-within,
.tAmtInpt:focus-within {
	background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
	.list_title form {
		flex-direction: column;
		gap: 0.5rem;
		align-items: inherit;
	}
	.list_title div + div {
		border-top: 0.5px solid rgb(196, 196, 197);
		padding: 0.6rem;
		border-left: 0;
		padding-left: 0;
	}
	.list_title .arrowBtn {
		max-width: 50%;
	}
	.submitBtn {
		display: flex;
		gap: 0.5rem;
		margin-left: 0.5rem;
	}
	.submitBtn > button {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.list_title form .closure {
		gap: 0.25rem;
	}
	.list_title form .closure p {
		font-size: 12px;
		width: 60px;
	}
}