/* common style */

@use 'sass:list';
@use 'sass:math';

@use '../modules/colors' as clr;
@use '../modules/mixins' as mix;
@use '../modules/elements' as elm;

/* ---------- basic ---------- */

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-thumb {
    border: .2rem solid transparent;
    border-radius: .4rem;
    background-color: clr.$g-mid;
    background-clip: padding-box;

    &:hover {
        background-color: clr.$main;
    }
}

a,
a:visited {
    color: clr.$main;
}

/* ---------- basic ---------- */
/* ---------- header ---------- */



/* ---------- header ---------- */
/* ---------- main ---------- */



/* ---------- main ---------- */
/* ---------- footer ---------- */



/* ---------- footer ---------- */
/* ---------- repeating items ---------- */



/* ---------- repeating items ---------- */
/* ---------- media queries for global elements ---------- */

@media (pointer: coarse) and (hover: none) {

}

@media screen and (max-width: 960px) {

} // 960px

@media screen and (max-width: 640px) {

} // 640px

@media screen and (max-width: 540px) {

} // 540px