@charset "UTF-8";
/* ---------- theme colors ---------- */
/* set concept color above (as HSL format) */
/* ---------- gray tones ---------- */
/* ---------- temporary colors ---------- */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
	height: 0;
	/* 1 */
	color: inherit;
	/* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
	text-indent: 0;
	/* 1 */
	border-color: inherit;
	/* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
	/* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
	display: list-item;
}

/* default (reset) */
/* 기본 리소스 경로 */
/* ---------- loading modern normalize ---------- */
/* ---------- load complete ---------- */
@font-face {
	font-family: "Pretendard";
	src: local("Pretendard"), url("../../../resources/fonts/PretendardVariable.woff2") format("woff2-variations");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* ---------- loading fonts ---------- */
/* ---------- 기본 형태 선언 시작 ---------- */
html:focus-within {
	scroll-behavior: smooth;
}

:root {
	font-size: 20px;
	/* 사이즈 기본 단위 : 20px */
	line-height: 1;
	/* line-height: 1.8; (가독성이 필요한 본문 영역) */
	/* letter-spacing: -.05rem; (큰 문자열) */
	--font-base: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
	font-size: 1rem;
	/* 기본 글자 크기 : 14px => 2022-12-09 변경 1rem*/
	font-weight: normal;
	overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
*::before,
*::after {
		-webkit-animation-duration: 0.01ms !important;
		        animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		        animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
article,
aside,
details,
figcaption,
figure,
header,
footer,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

img,
picture {
	display: block;
	max-width: 100%;
	border: none;
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-user-drag: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	        text-decoration-skip-ink: auto;
}

form,
fieldset {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button,
input,
textarea,
select,
optgroup {
	border: none;
	background: none;
	font: inherit;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button::-ms-expand,
input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand,
optgroup::-ms-expand {
	display: none;
}
button::-webkit-outer-spin-button, button::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button,
optgroup::-webkit-outer-spin-button,
optgroup::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

hr {
	clear: both;
	border: none;
	background-color: currentColor;
}

dialog {
	border: none;
	outline: none;
}
dialog::-webkit-backdrop {
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(0.25rem);
	        backdrop-filter: blur(0.25rem);
}
dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(0.25rem);
	        backdrop-filter: blur(0.25rem);
}

address {
	font-style: normal;
}

kbd {
	padding: 0.1rem 0.3rem;
	-webkit-border-before: 0.05rem solid hsl(234deg, 17%, 100%);
	        border-block-start: 0.05rem solid hsl(234deg, 17%, 100%);
	-webkit-border-after: 0.25rem solid hsl(234deg, 20%, 73%);
	        border-block-end: 0.25rem solid hsl(234deg, 20%, 73%);
	-webkit-border-start: 0.15rem solid hsl(234deg, 17%, 100%);
	        border-inline-start: 0.15rem solid hsl(234deg, 17%, 100%);
	-webkit-border-end: 0.15rem solid hsl(234deg, 20%, 73%);
	        border-inline-end: 0.15rem solid hsl(234deg, 20%, 73%);
	border-radius: 0.2rem;
	background-color: hsl(234deg, 17%, 100%);
	background-image: linear-gradient(to bottom right, hsl(234deg, 20%, 73%), transparent);
	box-shadow: 0 0 0.15rem hsl(234deg, 20%, 10%);
	font-size: smaller;
}

code {
	padding: 0.2rem;
	border-radius: 0.2rem;
	background-color: hsl(234deg, 20%, 10%);
	color: hsl(234deg, 79%, 77%);
	font-size: smaller;
}

mark {
	/* 형광펜 */
	padding: 0.2rem;
	border-radius: 0.2rem;
	background-color: hsl(54deg, 79%, 77%);
}

ruby {
	/* 작은 주석 */
}
ruby > rp {
	/* 주석 표기가 불가능할 때 괄호 표시 */
}
ruby > rt {
	/* 주석 문자열 */
}

svg {
	display: block;
}

/* ---------- 기본 형태 선언 종료 ---------- */
/* ---------- 공통 클래스 선언 시작 ---------- */
body.prevent_scroll {
	overflow: hidden;
}

#wrap {
	/* 전체 랩핑 */
	position: relative;
	width: 100%;
	height: 100%;
}

.int_wrap {
	/* 내부 박스 사이징 */
	margin-inline: auto;
	width: min(100% - 1rem, 38rem);
	/* max-width: 760px */
}

.scr_alt {
	/* 스크린 리더용 얼터닛 텍스트 */
	text-indent: -500000rem;
	overflow: hidden;
}

.clr_fix::after {
	/* 클리어픽스 */
	display: block;
	clear: both;
	content: "";
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:active {
	color: inherit;
}

a#skipToMain {
	position: absolute;
	top: 0;
	left: 1rem;
	padding: 0.5rem;
	outline: none;
	transform: translateY(-100%);
	z-index: 1000;
}
a#skipToMain:focus {
	transform: translateY(0);
	transition: transform 0.3s ease-out;
}

hr.hf {
	/* 가로줄 */
	width: 100%;
	height: 0.05rem;
}

hr.vf {
	/* 세로줄 */
	width: 0.05rem;
	height: 100%;
}

.in-flex {
	/* 인라인 플렉스 */
	display: inline-flex;
	align-items: center;
}

/* ---------- 공통 클래스 선언 종료 ---------- */