@charset "UTF-8";
/* ---------- theme colors ---------- */
/* set concept color above (as HSL format) */
/* ---------- gray tones ---------- */
/* ---------- temporary colors ---------- */
/* ---------- mixin ---------- */
/* ---------- %placeholder ----------*/
/* ---------- whatever else ---------- */
/* ---------- @keyframes ---------- */
@-webkit-keyframes popout {
	30% {
		transform: scale(0);
	}
	60% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.75);
	}
	90% {
		transform: scale(0.95);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes popout {
	30% {
		transform: scale(0);
	}
	60% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.75);
	}
	90% {
		transform: scale(0.95);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes kickin-down {
	0% {
		transform: translateY(200%);
	}
	5% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0;
	}
}
@keyframes kickin-down {
	0% {
		transform: translateY(200%);
	}
	5% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0;
	}
}
@-webkit-keyframes clicked {
	from {
		transform: rotateZ(-90deg) scale(0.8);
	}
	to {
		transform: rotateZ(-90deg) scale(1);
	}
}
@keyframes clicked {
	from {
		transform: rotateZ(-90deg) scale(0.8);
	}
	to {
		transform: rotateZ(-90deg) scale(1);
	}
}
@-webkit-keyframes agree-round {
	from {
		stroke-dashoffset: 130;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes agree-round {
	from {
		stroke-dashoffset: 130;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes agree-check {
	from {
		stroke-dashoffset: 52;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes agree-check {
	from {
		stroke-dashoffset: 52;
	}
	to {
		stroke-dashoffset: 0;
	}
}
/* Wanderface 1.0.3 */
[role=textbox][contenteditable], [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label], [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label], input[type=text]:not(.exclude),
input[type=password]:not(.exclude),
input[type=search]:not(.exclude),
input[type=url]:not(.exclude),
input[type=email]:not(.exclude),
input[type=tel]:not(.exclude),
input[type=number]:not(.exclude),
input[type=datetime-local]:not(.exclude),
input[type=date]:not(.exclude),
input[type=month]:not(.exclude),
input[type=week]:not(.exclude),
input[type=time]:not(.exclude),
select:not(.exclude),
textarea:not(.exclude) {
	padding: 0.35rem;
	border: 0.05rem solid rgba(20, 21, 31, 0.1);
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.3);
	outline: none;
	resize: none;
	font: inherit;
}
[role=textbox][contenteditable]::-moz-placeholder, [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]::-moz-placeholder, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]::-moz-placeholder, input[type=text]:not(.exclude)::-moz-placeholder, input[type=password]:not(.exclude)::-moz-placeholder, input[type=search]:not(.exclude)::-moz-placeholder, input[type=url]:not(.exclude)::-moz-placeholder, input[type=email]:not(.exclude)::-moz-placeholder, input[type=tel]:not(.exclude)::-moz-placeholder, input[type=number]:not(.exclude)::-moz-placeholder, input[type=datetime-local]:not(.exclude)::-moz-placeholder, input[type=date]:not(.exclude)::-moz-placeholder, input[type=month]:not(.exclude)::-moz-placeholder, input[type=week]:not(.exclude)::-moz-placeholder, input[type=time]:not(.exclude)::-moz-placeholder, select:not(.exclude)::-moz-placeholder, textarea:not(.exclude)::-moz-placeholder {
	opacity: 0.5;
}
[role=textbox][contenteditable]:-ms-input-placeholder, [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]:-ms-input-placeholder, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]:-ms-input-placeholder, input[type=text]:not(.exclude):-ms-input-placeholder, input[type=password]:not(.exclude):-ms-input-placeholder, input[type=search]:not(.exclude):-ms-input-placeholder, input[type=url]:not(.exclude):-ms-input-placeholder, input[type=email]:not(.exclude):-ms-input-placeholder, input[type=tel]:not(.exclude):-ms-input-placeholder, input[type=number]:not(.exclude):-ms-input-placeholder, input[type=datetime-local]:not(.exclude):-ms-input-placeholder, input[type=date]:not(.exclude):-ms-input-placeholder, input[type=month]:not(.exclude):-ms-input-placeholder, input[type=week]:not(.exclude):-ms-input-placeholder, input[type=time]:not(.exclude):-ms-input-placeholder, select:not(.exclude):-ms-input-placeholder, textarea:not(.exclude):-ms-input-placeholder {
	opacity: 0.5;
}
[role=textbox][contenteditable]::placeholder, [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]::placeholder, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]::placeholder, input[type=text]:not(.exclude)::placeholder,
input[type=password]:not(.exclude)::placeholder,
input[type=search]:not(.exclude)::placeholder,
input[type=url]:not(.exclude)::placeholder,
input[type=email]:not(.exclude)::placeholder,
input[type=tel]:not(.exclude)::placeholder,
input[type=number]:not(.exclude)::placeholder,
input[type=datetime-local]:not(.exclude)::placeholder,
input[type=date]:not(.exclude)::placeholder,
input[type=month]:not(.exclude)::placeholder,
input[type=week]:not(.exclude)::placeholder,
input[type=time]:not(.exclude)::placeholder,
select:not(.exclude)::placeholder,
textarea:not(.exclude)::placeholder {
	opacity: 0.5;
}
[role=textbox][contenteditable]:focus, [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]:focus, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]:focus, input[type=text]:focus:not(.exclude),
input[type=password]:focus:not(.exclude),
input[type=search]:focus:not(.exclude),
input[type=url]:focus:not(.exclude),
input[type=email]:focus:not(.exclude),
input[type=tel]:focus:not(.exclude),
input[type=number]:focus:not(.exclude),
input[type=datetime-local]:focus:not(.exclude),
input[type=date]:focus:not(.exclude),
input[type=month]:focus:not(.exclude),
input[type=week]:focus:not(.exclude),
input[type=time]:focus:not(.exclude),
select:focus:not(.exclude),
textarea:focus:not(.exclude) {
	border-color: hsl(234deg, 79%, 77%);
	background-color: white;
	box-shadow: 0 0 0 0.15rem rgba(150, 159, 243, 0.2);
}
[role=textbox][contenteditable]:invalid, [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]:invalid, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]:invalid, input[type=text]:invalid:not(.exclude),
input[type=password]:invalid:not(.exclude),
input[type=search]:invalid:not(.exclude),
input[type=url]:invalid:not(.exclude),
input[type=email]:invalid:not(.exclude),
input[type=tel]:invalid:not(.exclude),
input[type=number]:invalid:not(.exclude),
input[type=datetime-local]:invalid:not(.exclude),
input[type=date]:invalid:not(.exclude),
input[type=month]:invalid:not(.exclude),
input[type=week]:invalid:not(.exclude),
input[type=time]:invalid:not(.exclude),
select:invalid:not(.exclude),
textarea:invalid:not(.exclude) {
	border-color: hsl(12deg, 88%, 36%);
	background-color: rgba(173, 43, 11, 0.1);
	box-shadow: 0 0 0 0.15rem rgba(173, 43, 11, 0.2);
}
[role=textbox][contenteditable]:disabled, [data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]:disabled, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]:disabled, input[type=text]:disabled:not(.exclude),
input[type=password]:disabled:not(.exclude),
input[type=search]:disabled:not(.exclude),
input[type=url]:disabled:not(.exclude),
input[type=email]:disabled:not(.exclude),
input[type=tel]:disabled:not(.exclude),
input[type=number]:disabled:not(.exclude),
input[type=datetime-local]:disabled:not(.exclude),
input[type=date]:disabled:not(.exclude),
input[type=month]:disabled:not(.exclude),
input[type=week]:disabled:not(.exclude),
input[type=time]:disabled:not(.exclude),
select:disabled:not(.exclude),
textarea:disabled:not(.exclude) {
	background-color: hsl(234deg, 17%, 100%);
	cursor: not-allowed;
}

select {
	padding: 0.4rem 0.35rem;
	-webkit-padding-end: 1.45rem;
	        padding-inline-end: 1.45rem;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	min-width: 6rem;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width=".75rem" height=".75rem"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath fill="currentColor" d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: right 0.5rem center;
}
select:focus {
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width=".75rem" height=".75rem"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath fill="currentColor" d="M12 10.828l-4.95 4.95-1.414-1.414L12 8l6.364 6.364-1.414 1.414z"/%3E%3C/svg%3E');
}

[data-form-object=multiselect] {
	display: inline-block;
}
[data-form-object=multiselect] > [data-part-role=select-container] {
	position: relative;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] {
	display: flex;
	position: relative;
	width: 100%;
	height: 1.7rem;
	cursor: pointer;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label]::before {
	margin-block: auto;
	-webkit-margin-end: auto;
	        margin-inline-end: auto;
	opacity: 0.5;
	content: attr(data-placeholder);
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > hr {
	margin-block: auto;
	-webkit-margin-start: 0.5rem;
	        margin-inline-start: 0.5rem;
	-webkit-margin-end: 1.2rem;
	        margin-inline-end: 1.2rem;
	height: 1em;
	background-color: hsl(234deg, 8%, 90%);
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > [data-part-role=dropdown-button] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	aspect-ratio: 1/1;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width=".75rem" height=".75rem"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > [data-part-role=item-list] {
	display: none;
	position: absolute;
	top: calc(100% + 0.25rem);
	left: 0;
	right: 0;
	padding: 0.1rem;
	border: 0.05rem solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(0.5rem);
	        backdrop-filter: blur(0.5rem);
	box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.3);
	opacity: 0;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > [data-part-role=item-list].on {
	display: initial;
	opacity: 1;
	z-index: 50000;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > [data-part-role=item-list] > [data-part-role=option] {
	display: block;
	padding: 0.25rem;
	border: 0.05rem solid transparent;
	border-radius: 0.1rem;
	background-color: transparent;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > [data-part-role=item-list] > [data-part-role=option]:hover, [data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=select-label] > [data-part-role=item-list] > [data-part-role=option][data-option-chosen=true] {
	border: 0.05rem solid rgba(0, 0, 0, 0.15);
	background-color: hsl(234deg, 79%, 77%);
	color: hsl(234deg, 17%, 100%);
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=item-container] {
	flex-flow: row wrap;
	gap: 0.25rem;
	-webkit-margin-before: 0.25rem;
	        margin-block-start: 0.25rem;
}
[data-form-object=multiselect] > [data-part-role=select-container] > [data-part-role=item-container] > span {
	display: inline-flex;
	justify-content: center;
	padding: 0.25rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border-radius: 0.25rem;
	background-color: hsl(234deg, 8%, 90%);
	font-size: 0.6rem;
	-webkit-animation: popout 0.15s 1 forwards;
	        animation: popout 0.15s 1 forwards;
}

.delete_option {
	-webkit-margin-start: 0.25rem;
	        margin-inline-start: 0.25rem;
	border-radius: 50%;
	color: hsl(12deg, 88%, 36%);
	font-weight: bold;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	padding: 0.4rem 0.75rem;
	border: 0.05rem solid rgba(20, 21, 31, 0.1);
	border-radius: 0.25rem;
	cursor: pointer;
	background-color: hsl(234deg, 79%, 77%);
	box-shadow: 0 0 0 -0.25rem rgba(150, 159, 243, 0.5);
	color: hsl(234deg, 17%, 100%);
}
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
	box-shadow: 0 0.5rem 1rem -0.25rem rgba(150, 159, 243, 0.5);
	text-shadow: 0 0.05rem 0.05rem rgba(96, 100, 138, 0.5);
	transition: 0.15s ease-out;
}
button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
	filter: saturate(0.9);
}
button:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus {
	background-color: hsl(140deg, 81%, 66%);
	box-shadow: 0 0 0 0.15rem solid rgba(150, 159, 243, 0.5);
	outline: 0.05rem solid hsl(234deg, 79%, 77%);
	outline-offset: 0.1rem;
}
button > svg,
input[type=button] > svg,
input[type=submit] > svg,
input[type=reset] > svg {
	display: block;
	fill: currentColor;
}

button[type=reset] {
	background-color: hsl(12deg, 88%, 36%);
	box-shadow: 0 0 0 -0.25rem rgba(173, 43, 11, 0.5);
	color: hsl(234deg, 17%, 100%);
}
button[type=reset]:hover {
	box-shadow: 0 0.5rem 1rem -0.25rem rgba(173, 43, 11, 0.5);
	text-shadow: 0 0.05rem 0.05rem rgba(96, 100, 138, 0.5);
	transition: 0.15s ease-out;
}
button[type=reset]:active {
	filter: saturate(0.9);
}
button[type=reset]:focus {
	background-color: hsl(12deg, 88%, 36%);
	box-shadow: 0 0 0 0.15rem solid rgba(173, 43, 11, 0.5);
	outline: 0.05rem solid hsl(12deg, 88%, 36%);
	outline-offset: 0.1rem;
}

input[type=radio] {
	position: absolute;
	left: -50000rem;
	opacity: 0;
}
input[type=radio] + label {
	display: inline-flex;
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
input[type=radio] + label::before {
	display: block;
	-webkit-margin-end: 0.25rem;
	        margin-inline-end: 0.25rem;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: hsl(234deg, 10%, 77%);
	transition: background-color 0.1s;
	content: "";
}
input[type=radio] + label::after {
	display: block;
	position: absolute;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: hsl(234deg, 17%, 100%);
	transform: scale(0.6);
	opacity: 0;
	content: "";
}
input[type=radio]:checked + label::before {
	background-color: hsl(234deg, 79%, 77%);
}
input[type=radio]:checked + label::after {
	opacity: 1;
}

input[type=checkbox] {
	position: absolute;
	left: -50000rem;
	opacity: 0;
}
input[type=checkbox] + label {
	display: inline-flex;
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
input[type=checkbox] + label::before {
	display: inline-block;
	-webkit-margin-end: 0.25rem;
	        margin-inline-end: 0.25rem;
	width: 1em;
	height: 1em;
	border-radius: 0.25rem;
	background-color: hsl(234deg, 10%, 77%);
	transition: background-color 0.1s;
	vertical-align: middle;
	content: "";
}
input[type=checkbox] + label::after {
	display: block;
	position: absolute;
	width: 1em;
	height: 1em;
	border-radius: 0.25rem;
	background-color: hsl(234deg, 17%, 100%);
	transform-origin: center;
	transform: scale(0.6);
	opacity: 0;
	content: "";
}
input[type=checkbox]:checked + label::before {
	background-color: hsl(234deg, 79%, 77%);
}
input[type=checkbox]:checked + label::after {
	opacity: 1;
}

[data-form-object=toggle] {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
}
[data-form-object=toggle] > [data-part-role=toggle-container] {
	position: relative;
	width: 1.5rem;
	height: 0.8rem;
	border-radius: 0.4rem;
	background-color: hsl(234deg, 10%, 77%);
	transition: background-color 0.15s;
}
[data-form-object=toggle] > [data-part-role=toggle-container] > [data-part-role=toggle-handle] {
	position: absolute;
	top: 0.1rem;
	bottom: 0.1rem;
	left: 0.1rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: hsl(234deg, 17%, 100%);
	transition: 0.15s;
}
[data-form-object=toggle].on > [data-part-role=toggle-container] {
	background-color: hsl(140deg, 81%, 66%);
}
[data-form-object=toggle].on > [data-part-role=toggle-container] > [data-part-role=toggle-handle] {
	left: calc(100% - 0.7rem);
}

[data-form-object=agreement] {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	cursor: pointer;
	--object-size: 1.5rem;
	--linewidth: .2rem;
}
[data-form-object=agreement] > svg {
	flex: 0 0 var(--object-size);
	width: var(--object-size);
	height: var(--object-size);
	transform: rotateZ(-90deg);
}
[data-form-object=agreement] > svg > circle,
[data-form-object=agreement] > svg > path {
	fill: none;
	stroke: hsl(234deg, 42%, 91%);
	stroke-width: var(--linewidth);
	stroke-linecap: round;
}
[data-form-object=agreement] > [data-part-role=agree-label] {
	padding: 0.1rem 0.15rem;
	background-image: linear-gradient(to top, hsl(140deg, 81%, 66%) var(--linewidth), transparent var(--linewidth));
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: 0 var(--linewidth);
	font-weight: bold;
}
[data-form-object=agreement].on > svg {
	-webkit-animation: clicked 0.3s forwards;
	        animation: clicked 0.3s forwards;
}
[data-form-object=agreement].on > svg > circle {
	stroke: hsl(140deg, 81%, 66%);
	stroke-dasharray: 130;
	-webkit-animation: agree-round 0.25s forwards;
	        animation: agree-round 0.25s forwards;
}
[data-form-object=agreement].on > svg > path {
	stroke: hsl(140deg, 81%, 66%);
	stroke-dasharray: 52;
	stroke-dashoffset: 52;
	-webkit-animation: agree-check 0.15s 0.2s forwards;
	        animation: agree-check 0.15s 0.2s forwards;
}
[data-form-object=agreement].on > [data-part-role=agree-label] {
	background-size: 100% var(--linewidth);
	transition: background-size 0.15s;
}

[data-form-object=risk-indicator] {
	display: inline-flex;
	align-items: center;
	--object-size: .75rem;
}
[data-form-object=risk-indicator] > [data-part-role=indicator-container] {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.25rem;
}
[data-form-object=risk-indicator] > [data-part-role=indicator-container] > button {
	padding: 0;
	width: var(--object-size);
	height: var(--object-size);
	border-radius: 50%;
	opacity: 0.25;
}
[data-form-object=risk-indicator] > [data-part-role=indicator-container] > button[data-part-role=indicator-low] {
	background-color: hsl(151deg, 91%, 54%);
}
[data-form-object=risk-indicator] > [data-part-role=indicator-container] > button[data-part-role=indicator-mid] {
	background-color: hsl(51deg, 100%, 59%);
}
[data-form-object=risk-indicator] > [data-part-role=indicator-container] > button[data-part-role=indicator-high] {
	background-color: hsl(12deg, 88%, 36%);
}
[data-form-object=risk-indicator] > [data-part-role=indicator-container] > button[data-chosen=true] {
	opacity: 1;
}
[data-form-object=risk-indicator] > [data-part-role=indicator-label] {
	-webkit-margin-start: 0.25rem;
	        margin-inline-start: 0.25rem;
	padding: 0.15rem 0.25rem;
	border-radius: 0.1rem;
	background-color: hsl(234deg, 18%, 46%);
	color: hsl(234deg, 17%, 100%);
	font-size: 0.6rem;
}

[data-form-object=file-uploader] {
	display: inline-block;
	--grid-column: 3;
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] {
	position: relative;
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label] {
	display: flex;
	position: relative;
	width: 100%;
	height: 1.7rem;
	cursor: pointer;
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label]::before {
	margin-block: auto;
	opacity: 0.5;
	content: attr(data-placeholder);
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label] > hr {
	margin-block: auto;
	-webkit-margin-start: auto;
	        margin-inline-start: auto;
	-webkit-margin-end: 1.2rem;
	        margin-inline-end: 1.2rem;
	height: 1em;
	background-color: hsl(234deg, 8%, 90%);
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=uploader-label] > [data-part-role=dropdown-button] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	aspect-ratio: 1/1;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width=".75rem" height=".75rem"%3E%3Cpath fill="none" d="M0 0h24v24H0z"/%3E%3Cpath d="M3 19h18v2H3v-2zM13 5.828V17h-2V5.828L4.929 11.9l-1.414-1.414L12 2l8.485 8.485-1.414 1.414L13 5.83z"/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=file-container] {
	display: grid;
	grid-template-columns: repeat(var(--grid-column), 1fr);
	gap: 0.25rem;
	-webkit-margin-before: 0.25rem;
	        margin-block-start: 0.25rem;
	width: 100%;
	counter-set: item-index;
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=file-container] > a {
	position: relative;
	counter-increment: item-index;
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=file-container] > a::before {
	display: block;
	position: absolute;
	top: 0.25rem;
	left: 0.25rem;
	padding: 0.25rem;
	border-radius: 0.1rem;
	background-color: hsl(234deg, 20%, 10%);
	color: hsl(234deg, 17%, 100%);
	font-size: 0.5rem;
	font-weight: bold;
	content: counter(item-index);
}
[data-form-object=file-uploader] > [data-part-role=uploader-container] > [data-part-role=file-container] > a > .upload-file {
	width: 100%;
	aspect-ratio: 4/3;
	border-radius: 0.25rem;
	background-color: rgba(20, 21, 31, 0.75);
	-o-object-fit: contain;
	   object-fit: contain;
}

[data-form-object=input-wrapper] {
	display: inline-block;
	position: relative;
}
[data-form-object=input-wrapper] > input::-moz-placeholder {
	position: absolute;
	left: -50000rem;
	opacity: 0;
}
[data-form-object=input-wrapper] > input:-ms-input-placeholder {
	position: absolute;
	left: -50000rem;
	opacity: 0;
}
[data-form-object=input-wrapper] > input::placeholder {
	position: absolute;
	left: -50000rem;
	opacity: 0;
}
[data-form-object=input-wrapper] > input::-moz-placeholder + label {
	display: inline-flex;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}
[data-form-object=input-wrapper] > input:-ms-input-placeholder + label {
	display: inline-flex;
	position: relative;
	width: fit-content;
}
[data-form-object=input-wrapper] > input::placeholder + label {
	display: inline-flex;
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
[data-form-object=input-wrapper] > input + legend {
	position: absolute;
	top: 50%;
	left: 0.5rem;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}
[data-form-object=input-wrapper] > input:-moz-placeholder-shown + legend {
	opacity: 0.5;
}
[data-form-object=input-wrapper] > input:-ms-input-placeholder + legend {
	opacity: 0.5;
}
[data-form-object=input-wrapper] > input:placeholder-shown + legend {
	opacity: 0.5;
}
[data-form-object=input-wrapper]:focus-within > legend {
	opacity: 0;
}

blockquote {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.25rem;
	-webkit-margin-after: 1rem;
	        margin-block-end: 1rem;
	padding: 0.5rem;
	-webkit-border-start: 0.25rem solid currentColor;
	        border-inline-start: 0.25rem solid currentColor;
	border-radius: 0.25rem;
	background-color: hsl(234deg, 17%, 100%);
}
blockquote:is([data-quote-type=info]) {
	border-color: hsl(234deg, 18%, 46%);
}
blockquote:is([data-quote-type=success]) {
	border-color: hsl(151deg, 91%, 54%);
}
blockquote:is([data-quote-type=warning]) {
	border-color: hsl(51deg, 100%, 59%);
}
blockquote:is([data-quote-type=error]) {
	border-color: hsl(12deg, 88%, 36%);
}
blockquote > [data-quote-content] {
	line-height: 1.8;
}

[role=textbox] {
	transition: 0.15s;
}
[role=textbox][contenteditable] {
	display: inline-block;
	background-color: hsl(234deg, 17%, 100%);
}

.disclaimer {
	margin-block: 0.25rem;
	color: hsl(234deg, 18%, 46%);
	font-size: 0.6rem;
	line-height: 1.4;
	opacity: 0.75;
}
.disclaimer::before {
	content: "※ ";
}

[data-layer-type=alert], [data-layer-type=banner], [data-layer-type=toast] {
	position: fixed;
	padding: 1rem;
	border-radius: 0.75rem;
	box-shadow: 0 1rem 2rem -0.5rem rgba(96, 100, 138, 0.5);
}

[data-layer-type=toast] {
	top: 2rem;
	right: 2rem;
	transform: scale(0);
	-webkit-animation: popout 0.5s 1 forwards;
	        animation: popout 0.5s 1 forwards;
}
[data-layer-type=toast]::before {
	position: absolute;
	top: 0.3rem;
	bottom: 0.3rem;
	left: 0.3rem;
	width: 0.3rem;
	border-radius: 0.25rem;
	background-color: hsl(234deg, 79%, 77%);
	content: "";
}

[data-layer-type=banner] {
	bottom: 2rem;
	right: 2rem;
}

[data-layer-type=modal] {
	position: fixed;
	inset: 0;
	margin: auto;
	padding: 0.5rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	max-width: calc(100% - 2rem);
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	max-height: calc(100% - 4rem);
}
[data-layer-type=modal] > [data-modal-close] {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 0.25rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	padding: 0.25rem;
	border-radius: 0.25rem;
	background-color: rgba(20, 21, 31, 0.75);
	font-size: 0.6rem;
	cursor: pointer;
}
[data-layer-type=modal] > [data-modal-close] > span {
	padding-inline: 0.25rem;
	color: hsl(234deg, 17%, 100%);
}

[data-layer-type=alert] {
	bottom: 2rem;
	left: 0;
	right: 0;
	margin: auto;
	width: min(100% - 2rem, 36rem);
	background-color: rgba(20, 21, 31, 0.75);
	-webkit-backdrop-filter: blur(0.5rem);
	        backdrop-filter: blur(0.5rem);
	color: hsl(234deg, 17%, 100%);
	font-size: 0.8rem;
	text-align: center;
	transform: translateY(200%);
	z-index: 49999;
}
[data-layer-type=alert].on {
	-webkit-animation: kickin-down 5s ease-out forwards;
	        animation: kickin-down 5s ease-out forwards;
}

#toolTip {
	display: none;
	position: absolute;
	padding: 0.35rem 0.5rem;
	max-width: 12rem;
	border-radius: 0.25rem;
	background-color: rgba(20, 21, 31, 0.75);
	-webkit-backdrop-filter: blur(0.5rem);
	        backdrop-filter: blur(0.5rem);
	box-shadow: 0 0.25rem 1rem rgba(20, 21, 31, 0.5);
	color: hsl(234deg, 17%, 100%);
	font-size: 0.6rem;
	line-height: 1.6;
	z-index: 50000;
}
#toolTip::before {
	display: block;
	position: absolute;
	bottom: 100%;
	left: calc(50% - 0.25rem);
	border: 0.25rem solid transparent;
	-webkit-border-after: 0.25rem solid rgba(20, 21, 31, 0.75);
	        border-block-end: 0.25rem solid rgba(20, 21, 31, 0.75);
	content: "";
}