<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.exe.dao.approvalDAO"> <!-- 네임스페이스를 dao 패키지 경로로 변경 -->

    
	<insert id="Approval" parameterType="map" statementType="CALLABLE">
	    MERGE INTO approval AS target
	    USING (VALUES (#{a_date}, #{a_type}, #{a_gu}, #{a_bgo})) AS source (a_date, a_type, a_gu, a_bgo)
	    ON target.a_date = source.a_date AND target.a_type = source.a_type
	    WHEN MATCHED THEN
	        UPDATE SET target.a_gu = source.a_gu, target.a_bgo = source.a_bgo
	    WHEN NOT MATCHED THEN
	        INSERT (a_date, a_type, a_gu, a_bgo)
	        VALUES (source.a_date, source.a_type, source.a_gu, source.a_bgo);
	</insert>
    

</mapper>