<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.exe.dao.atdDAO"> <!-- 네임스페이스를 dao 패키지 경로로 변경 -->

    <select id="atdlist" parameterType = "map" resultType="com.dj.exe.vo.atdVO" statementType="CALLABLE">
        
		SELECT A.SUN
            , A.JUNPYOID
            , A.KERATYPE 
            , A.J_BNUM 
            , CASE WHEN A.KERATYPE = '입고' THEN A.MAIPCHER ELSE A.J_COMPANY END AS J_COMPANY 
            , A.GUBUN1 
            , CASE WHEN A.OWEIGHT = 0 THEN A.IWEIGHT ELSE A.OWEIGHT END AS OWEIGHT 
            , A.FIRSTWEIGHT 
            , FORMAT(CONVERT(DATETIME, A.FIRSTTIME),'HH:mm') AS FIRSTTIME 
            , A.SECONDWEIGHT 
            , FORMAT(CONVERT(DATETIME, A.SECONDTIME),'HH:mm') AS SECONDTIME 
            , A.WEIGHT   
            , CASE WHEN A.KERATYPE = '입고' THEN A.ICHAGAM ELSE A.OCHAGAM END AS OCHAGAM 
            , A.J_STATE 
            , A.GUMSUBIGO     
            , B.EMP_NM 
            , C.WEB_FAX_YN 
        FROM MESURING A 
        LEFT OUTER JOIN HR_EMP_BASIS B ON A.GUMSU_SERIAL = B.EMP_ID 
        LEFT JOIN ACC_DEALER_CD C ON C.DEALER_CD = CASE WHEN A.KERATYPE = '입고' THEN A.MAIPCHERID ELSE A.J_ASSIGNID END 
        LEFT JOIN JAJAE D ON A.J_SERIAL = D.J_SERIAL 
        WHERE A.J_DATE = '2023-01-13'   <!-- 이거 날짜는 임의, 디폴트 날짜로 바꾸면됨 -->
        AND A.KERATYPE != '직송'
               

        
    </select>
    
    
    
    
    <select id="searchatdlist" parameterType="map" resultType="com.dj.exe.vo.atdVO" statementType="CALLABLE">
	    SELECT A.SUN
	        , A.JUNPYOID
	        , A.KERATYPE 
	        , A.J_BNUM 
	        , CASE WHEN A.KERATYPE = '입고' THEN A.MAIPCHER ELSE A.J_COMPANY END AS J_COMPANY 
	        , A.GUBUN1 
	        , CASE WHEN A.OWEIGHT = 0 THEN A.IWEIGHT ELSE A.OWEIGHT END AS OWEIGHT 
	        , A.FIRSTWEIGHT 
	        , FORMAT(CONVERT(DATETIME, A.FIRSTTIME), 'HH:mm') AS FIRSTTIME 
	        , A.SECONDWEIGHT 
	        , FORMAT(CONVERT(DATETIME, A.SECONDTIME), 'HH:mm') AS SECONDTIME 
	        , A.WEIGHT   
	        , CASE WHEN A.KERATYPE = '입고' THEN A.ICHAGAM ELSE A.OCHAGAM END AS OCHAGAM 
	        , A.J_STATE 
	        , A.GUMSUBIGO     
	        , B.EMP_NM 
	        , C.WEB_FAX_YN 
	    FROM MESURING A 
	    LEFT OUTER JOIN HR_EMP_BASIS B ON A.GUMSU_SERIAL = B.EMP_ID 
	    LEFT JOIN ACC_DEALER_CD C ON C.DEALER_CD = CASE WHEN A.KERATYPE = '입고' THEN A.MAIPCHERID ELSE A.J_ASSIGNID END 
	    LEFT JOIN JAJAE D ON A.J_SERIAL = D.J_SERIAL 
	    WHERE A.J_DATE = #{jDate}
	    AND A.KERATYPE != '직송'
	    AND (
	        ('${sKeraType}' = 'ALL' AND 1 = 1)
	        OR ('${sKeraType}' = 'IN' AND A.KERATYPE = '입고')
	        OR ('${sKeraType}' = 'OUT' AND A.KERATYPE = '출고')
	    )
	      <if test="sBigCate != null and sBigCate != ''">
    		AND D.DAEGUBUN IN (#{sBigCate})
		</if>
	    ORDER BY A.SUN
	</select>
    

</mapper>