<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.exe.dao.busiDAO"> <!-- 네임스페이스를 dao 패키지 경로로 변경 -->

    <select id="busilist" parameterType = "map" resultType="com.dj.exe.vo.busiVO" statementType="CALLABLE">
        {CALL DP_AllReport1
        (#{CMD, mode=IN, jdbcType=VARCHAR}, 
         #{FDATE, mode=IN, jdbcType=VARCHAR},
         #{TDATE, mode=IN, jdbcType=VARCHAR},
         #{FDDATE, mode=IN, jdbcType=VARCHAR},
         #{TDDATE, mode=IN, jdbcType=VARCHAR})}
    </select>
    
    
    <select id="maeiplist" parameterType = "map" resultType="com.dj.exe.vo.maeipVO" statementType="CALLABLE">
        {CALL DP_AllReport1
        (#{CMD, mode=IN, jdbcType=VARCHAR}, 
         #{FDATE, mode=IN, jdbcType=VARCHAR},
         #{TDATE, mode=IN, jdbcType=VARCHAR})}
    </select>
    

</mapper>