<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.exe.dao.fncDAO"> <!-- 네임스페이스를 dao 패키지 경로로 변경 -->

    <select id="fnclist" parameterType = "map" resultType="com.dj.exe.vo.fncVO" statementType="CALLABLE">
        {CALL DP_AC20001F00
        (#{CMD, mode=IN, jdbcType=VARCHAR}, 
         #{FDATE, mode=IN, jdbcType=VARCHAR},
         #{TDATE, mode=IN, jdbcType=VARCHAR}
         )}
    </select>

</mapper>